- title t('site.welcome'), false

- if current_user.is_admin?
  .card.bg-light
    .card-body
      %p.card-text
        - if current_user.become_admin?
          Вы суперпользователь [
          = link_to 'стать администратором', admin_toggle_become_admin_path
          ]
        - else
          Вы администратор [
          = link_to 'стать суперпользователем', admin_toggle_become_admin_path
          ]

.row
  .col-sm-3
    %h2.h3.mt-4.mb-3 Email
    .list-group
      - if policy(MailingRequest).index?
        = link_to t('headers.mailing_requests'), admin_mailing_requests_path, class: 'list-group-item'
      = link_to t('headers.email_lists'), admin_email_lists_path, class: 'list-group-item'
      = link_to t('headers.mailings'), admin_mailings_path, class: 'list-group-item'
      = link_to t('headers.email_digests'), admin_email_digests_path, class: 'list-group-item'
      - if policy(EmailSendHistory).index?
        = link_to t('headers.email_send_histories'), admin_email_send_histories_path, class: 'list-group-item'
      - if policy(Unsubscription).index?
        = link_to t('headers.unsubscriptions'), admin_unsubscriptions_path, class: 'list-group-item'
      - if policy(Stripo::TemplateGroup).index?
        = link_to t('headers.stripo_templates'), admin_stripo_template_groups_path, class: 'list-group-item'
      = link_to t('headers.digest_categories'), admin_digest_categories_path, class: 'list-group-item'
      - if policy(UnsubscriptionReason).index?
        = link_to t('headers.unsubscription_reasons'), admin_unsubscription_reasons_path, class: 'list-group-item'
      - if policy(EmailProblemName).index?
        = link_to t('headers.email_problem_names'), admin_email_problem_names_path, class: 'list-group-item'
      - if policy(ExternalRedirect).index?
        = link_to t('headers.external_redirects'), admin_external_redirects_path, class: 'list-group-item'
      - if policy(BlacklistEmail).index?
        = link_to t('headers.blacklist_emails'), admin_blacklist_emails_path, class: 'list-group-item'
      - if policy(MailingDestination).index?
        = link_to t('headers.mailing_destinations'), admin_mailing_destinations_path, class: 'list-group-item'

  .col-sm-3
    %h2.h3.mt-4.mb-3 SMS
    .list-group
      - if policy(SmsSendHistory).index?
        = link_to t('headers.sms_send_histories'), admin_sms_send_histories_path, class: 'list-group-item'
      - if policy(SmsMessage).index?
        = link_to t('headers.sms_messages'), admin_sms_messages_path, class: 'list-group-item'
      - if policy(SmsSendHistoryType).index?
        = link_to t('headers.sms_send_history_types'), admin_sms_send_history_types_path, class: 'list-group-item'

  .col-sm-3
    %h2.h3.mt-4.mb-3 Телеграм
    .list-group
      = link_to t('headers.telegram_groups'), admin_telegram_groups_path, class: 'list-group-item'
      = link_to t('headers.telegram_messages'), admin_telegram_messages_path, class: 'list-group-item'

  .col-sm-3
    %h2.h3.mt-4.mb-3 Подписчики
    .list-group
      = link_to t('headers.subscribers'), admin_subscribers_path, class: 'list-group-item'
      - if policy(SubscriberImport).index?
        = link_to t('headers.subscriber_imports'), admin_subscriber_imports_path, class: 'list-group-item'
      = link_to_with_icon t('headers.import_email_problems'), new_admin_import_email_problem_path, :plus, class: 'list-group-item'

.row.mb-5
  - if policy(NewsItem).edit?
    .col-sm-3
      %h2.h3.mt-4.mb-3 Новости ВИОМС
      .list-group
        = link_to t('headers.news_items'), admin_news_items_path, class: 'list-group-item'

  - if policy(BannerOrder).edit?
    .col-sm-3
      %h2.h3.mt-4.mb-3 Банеры
      .list-group
        = link_to t('headers.banner_owners'), admin_banner_owners_path, class: 'list-group-item'
        = link_to t('headers.banner_orders'), admin_banner_orders_path, class: 'list-group-item'

  .col-sm-3
    %h2.h3.mt-4.mb-3 Разное
    - if policy(User).index?
      = link_to t('headers.users'), admin_users_path, class: 'list-group-item'
    - if policy(Page).index?
      = link_to t('headers.pages'), admin_pages_path, class: 'list-group-item'
    - if policy(TextBlock).index?
      = link_to t('headers.text_blocks'), admin_text_blocks_path, class: 'list-group-item'
    - if policy(City).index?
      = link_to t('headers.cities'), admin_cities_path, class: 'list-group-item'
    - if policy(Setting).index?
      = link_to t('headers.settings'), admin_settings_path, class: 'list-group-item'
    - if policy(DonationMethod).index?
      = link_to t('headers.donation_methods'), admin_donation_methods_path, class: 'list-group-item'
    - if policy(APIKey).index?
      = link_to t('headers.api_keys'), admin_api_keys_path, class: 'list-group-item  '
    - if effective_admin?
      = link_to 'Sidekiq', sidekiq_web_path, target: '_blank', class: 'list-group-item  '

  .col-sm-3
    %h2.h3.mt-4.mb-3 Опросы
    - if policy(Poll).index?
      = link_to t('headers.polls'), admin_polls_path, class: 'list-group-item'
    - if policy(Survey).index?
      = link_to t('headers.surveys'), admin_surveys_path, class: 'list-group-item  '
