%div
  %input{ :name => "my_settings[#{collection_name}][]", :type => "hidden", :value => "" }
  %input.check_boxes.optional{ :id => "my_settings_#{collection_name}_#{id}", :name => "my_settings[#{collection_name}][]", :type => "checkbox", :value => id, :checked => checked }
  %label.collection_check_boxes{ :for => "my_settings_#{@collection_name}_#{id}"}= name
