- javascript 'jquery.ba-url.min.js'
- title 'Мои настройки'
= render 'partials/phone_mask'

= simple_form_for @subscriber, url: my_settings_path do |f|
  = fieldset 'Личные данные' do
    = f.input :name
    = f.input :email
    %p
      - if @subscriber.confirmed_at.present?
        Email подтвержден
        = date_ru @subscriber.confirmed_at
      - else
        %strong.text-info Email не подтвержден
        = link_to 'подтвердить', email_confirmations_path, class: 'btn btn-sm btn-info'
    = f.input :phone
  = fieldset 'Мои Email рассылки' do
    = subscription_check_boxes :email, @subscriber
  = f.button :submit, id: :my_settings_submit
  = link_to t('actions.subscriber_user.destroy'), registration_path, id: :my_settings_destroy, class: 'btn btn-danger float-right', method: :delete, data: { confirm: t('actions.subscriber_user.confirm_destroy') }
