= link_to_back admin_pages_path

= form_wrapper t("actions.page.#{action}") do
  = simple_form_for [:admin, @page] do |f|
    = f.error_notification
    = f.input :name
    = f.input :slug
    = f.input :content, as: :ckeditor
    = f.input :show_in_navbar
    = f.input :position
    = f.button :submit
