- javascript 'admin/popup'

.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= Page.human_attribute_name('name')
        %th= Page.human_attribute_name('slug')
        %th= Page.human_attribute_name('position')
        %th.btn-col &nbsp;

    %tbody
      - pages.each do |page|
        %tr
          %td.btn-col= link_to_edit [:admin, page]
          %td= page.name
          %td
            = link_to page_path(page), class: :popup do
              = page.slug
              %i.fas.fa-external-link-alt
          %td= page.position
          %td.btn-col= link_to_destroy [:admin, page]
