- title t('headers.pages')

= link_to_new :page

%h3.mt-1.mb-3= t('headers.pages_in_navbar')
= render partial: 'pages', locals: { pages: @pages_in_navbar }

%h3.mt-1.mb-3= t('headers.pages_not_in_navbar')
= render partial: 'pages', locals: { pages: @pages_not_in_navbar }
