= link_to_back admin_survey_answers_path(@survey)

= form_wrapper t("actions.survey_answer.#{action}") do
  = permitted_form_for [:admin, @survey, @answer] do |f|
    = f.error_notification
    = fieldset do
      = f.input :title
      = f.input :position
    = f.button :submit
