- title t('headers.subscriber_answers')

= link_to_back admin_polls_path

%h2.h3= @poll.title

- total = @poll.subscriber_answers.count
%h3.h4
  Всего проголосовало
  = total

.well
  %dl
    - @poll.answers.each do |answer|
      - count = answer.subscriber_answers.count
      %dt= answer.title
      %dd= "#{count} (#{(100*count.to_f/total).round(2)}%)"

= paginate @subscriber_answers

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.subscriber_answer.title')
        %th= t('headers.subscriber')
        %th= t('activerecord.attributes.subscriber_answer.created_at')
        %th= t('activerecord.attributes.subscriber_answer.updated_at')

    %tbody
      - @subscriber_answers.each do |subscriber_answer|
        %tr
          %td= subscriber_answer.answer.title
          %td
            - if subscriber_answer.subscriber
              = link_to subscriber_answer.subscriber.email, edit_admin_subscriber_path(subscriber_answer.subscriber)
            - else
              .text-muted Удален
          %td= l subscriber_answer.created_at, format: :short
          %td= l subscriber_answer.updated_at, format: :short

= paginate @subscriber_answers
