= link_to_back admin_api_keys_path

= form_wrapper t("actions.api_key.#{action}") do
  = simple_form_for [:admin, @api_key] do |f|
    = error_notifications(f)

    = fieldset do
      = f.input :name

    = f.button :submit
