- content_for :head do
  :javascript
    $(function() {
      $('#copy-btn').click(function(e) {
        e.preventDefault();
        copy_to_clipboard(document.getElementById('api-key'));
        alert('Скопировано.');
      });
    });

= link_to_back admin_api_keys_path

= form_with url: '#', html: { class: 'form-inline' } do |f|
  .input-group.w-100
    = f.text_field :search, id: 'api-key', class: 'form-control', value: @api_key.key
    .input-group-append
      = f.button admin_icon(:clipboard), id: 'copy-btn', class: 'btn btn-secondary'
