- title t('headers.api_keys')

%p= link_to_new :api_key

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.api_key.name')
        - if effective_admin?
          %th= t('headers.user')
        %th.btn-col &nbsp;

    %tbody
      - @api_keys.each do |api_key|
        %tr
          %td.btn-col= link_to_edit [:admin, api_key]
          %td
            - if api_key.name.present?
              = api_key.name
            - else
              %em.text-muted= t('site.untitled')
          - if effective_admin?
            %td= api_key.user.name
          %td.btn-col= link_to_destroy [:admin, api_key]
