!!!
%html{ style: 'width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{ name: 'x-apple-disable-message-reformatting' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ content: 'telephone=no', name: 'format-detection' }
    :css
      body{font-family:sans-serif, Arial, Verdana, "Trebuchet MS";color:#333;background-color:#fff;margin:20px;font-size:13px;line-height:1.6em}blockquote{font-style:italic;font-family:Georgia, Times, "Times New Roman", serif;padding:2px 0;border-left:5px solid #ccc;padding-left:20px;padding-right:8px}a{color:#0782C1}ol,ul,dl{*margin-right:0px;padding:0 40px}h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1.2em}hr{border:0px;border-top:1px solid #ccc}img.right{border:1px solid #ccc;float:right;margin-left:15px;padding:5px}img.left{border:1px solid #ccc;float:left;margin-right:15px;padding:5px}img:hover{opacity:.9;filter:alpha(opacity=90)}pre{white-space:pre-wrap;word-wrap:break-word}.marker{background-color:Yellow}
    %title= @title || 'Без названия'
  %body= @content
