- if @email_attachments&.any?
  %h2
    Скачать вложенные файлы:
    %ul
      - @email_attachments.each do |email_attachment|
        %li= link_to email_attachment.attributes['attachment'], email_attachment.attachment_url
