- title @email_list.name

%h4= link_to t('site.back_to_email_lists'), email_lists_path, class: 'btn btn-sm btn-outline-secondary'

= paginate @mailings

%table.table.table-striped
  %thead
    %tr
      %th Тема
      %th Когда отправлено
  %tbody
    - @mailings.each do |mailing|
      %tr
        %td= link_to mailing.subject, mailing_path(mailing)
        %td= date_ru mailing.deliver_at

= paginate @mailings

%p
  = link_to admin_icon(:rss) + ' RSS', email_list_path(@email_list, format: 'rss')
  = link_to 'ATOM', email_list_path(@email_list, format: 'atom')
