- title @mailing.subject

- provide(:head) do
  :javascript
    $(function() {
      var $frame = $('#mailing-frame');
      $frame.on('load', function() {
        var $doc = $frame.contents();
        $doc.ready(function() {
          $doc.find('a[href]').attr('target', '_blank');
        });
      });
    });

%p.back= link_to "Вернуться к списку \"#{@mailing.email_list.name}\"", email_list_url(@mailing.email_list), class: 'btn btn-sm btn-outline-secondary'
%p.text-right
  Дата выхода рассылки:
  = date_ru @mailing.deliver_at.to_date
%p.text-right
  Если сообщение некорректно отображается, откройте его
  = link_to 'в новом окне', full_mailing_url(@mailing), target: '_blank'

= iframe(full_mailing_url(@mailing))

= render 'email_attachments'
