= link_to_back admin_surveys_path

= form_wrapper t("actions.survey.#{action}") do
  = simple_form_for [:admin, @survey] do |f|
    = error_notifications(f)

    = fieldset do
      = f.input :name
      = f.input :title
      = f.input :visible
      = f.input :announce
    = f.button :submit
