- title t('headers.surveys')

%p= link_to_new :survey

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col
        %th= t('activerecord.attributes.survey.name')
        %th= t('headers.survey_questions')
        %th= t('headers.survey_questions')
        %th.btn-col

    %tbody
      - @surveys.each do |survey|
        %tr
          %td.btn-col= link_to_edit [:admin, survey]
          %td= survey.name
          %td= link_to t('headers.survey_questions'), admin_survey_survey_questions_path(survey)
          %td.btn-col= link_to_destroy [:admin, survey]
