%label= confirm_sms_list.sms_list.name
= radio_button_tag "subscriber[confirm_sms_lists][#{confirm_sms_list.sms_list.id}]", 1
да
= radio_button_tag "subscriber[confirm_sms_lists][#{confirm_sms_list.sms_list.id}]", 0
нет
= radio_button_tag "subscriber[confirm_sms_lists][#{confirm_sms_list.sms_list.id}]", -1, true
потом
%br
