- javascript 'subscriber', 'subscriber_admin.js', 'jquery.ba-url.min.js'

= link_to_back admin_subscribers_path

= form_wrapper t("actions.subscriber.#{action}") do
  = permitted_nested_form_for [:admin, @subscriber] do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'email_lists', 'Email подписки'
      - if policy(EmailListCustomVar).index? && @custom_vars
        = tab_presentation 'custom_vars', 'Переменные'
    = tabs_content do
      = tab_pane 'main', true do
        = f.input :name
        = f.input :email
        - if @subscriber.persisted?
          = btn_group t('headers.email_problems').html_safe + email_problems(@subscriber) do
            = link_to_with_icon 'Показать', admin_subscriber_email_problems_path(@subscriber), :list, class: 'dropdown-item'
            = link_to_with_icon 'Добавить', new_admin_subscriber_email_problem_path(@subscriber), :plus, class: 'dropdown-item'
          - if policy(EmailSendHistory).manage?
            = link_to t('headers.email_send_histories'), admin_email_send_histories_path(email: @subscriber.email), class: 'btn btn-outline-secondary ml-md-1'
        = f.input :confirmed_at, permitted: true do
          %p
            - if @subscriber.confirmed_at.present?
              = date_ru @subscriber.confirmed_at
            - else
              = yes_no false
              - has_email_confirmation_token = has_email_confirmation_token? @subscriber
              - if has_email_confirmation_token
                %i Было выслано письмо для подтверждения email адреса
              - else
                %span#email_confirmation_buttons.ml-3
                  - unless has_email_confirmation_token
                    = button_tag 'Выслать Email подтверждение', type: :button, id: :resend_email_confirmation_button, class: 'btn btn-info'
                  = button_tag 'Подтвердить принудительно', type: :button, id: :force_email_confirmation_button, class: 'btn btn-warning'
        #email_confirmation_message.collapse
        #email_confirmation_undo.collapse= button_tag 'Отмена', type: :button, id: :undo_email_confirmation_button, class: 'btn btn-outline-secondary'
        = f.input :email_confirmation_task, as: :hidden
        - unless @subscriber.new_record?
          = f.input :created_at, permitted: true do
            = date_ru @subscriber.created_at
        = f.input :phone, input_html: { maxlength: 255 }
        - if @subscriber.persisted?
          = btn_group t('headers.phone_problems').html_safe + phone_problems(@subscriber) do
            = link_to_with_icon 'Показать', admin_subscriber_phone_problems_path(@subscriber), :list, class: 'dropdown-item'
            = link_to_with_icon 'Добавить', new_admin_subscriber_phone_problem_path(@subscriber), :plus, class: 'dropdown-item'
          - if policy(SmsSendHistory).manage?
            = link_to t('headers.sms_send_histories'), admin_sms_send_histories_path(phone: @subscriber.phone), class: 'btn btn-outline-secondary ml-md-1'
      = tab_pane 'email_lists' do
        = fieldset do
          = f.association :email_lists, as: :check_boxes, legend_tag: false, collection: @email_lists
      = tab_pane 'sms_lists' do
        = fieldset do
          = f.association :sms_lists, as: :check_boxes, legend_tag: false, collection: @sms_lists
        = fieldset 'Ожидают подтверждения' do
          = render partial: 'confirm_sms_list', collection: @pending_confirmation_sms_list
      - if policy(EmailListCustomVar).index? && @custom_vars
        = tab_pane 'custom_vars' do
          .responsive-table
            %table{ class: table_class }
              %tr
                %th Переменная
                %th Описание
                %th Значение
              - email_list_name_prev = ''
              - @custom_vars.each do |custom_var|
                - if email_list_name_prev != custom_var.email_list_name
                  %tr
                    %th { colspan: 3 }= custom_var.email_list_name
                %tr
                  %td
                    %strong= "[#{custom_var.name}]"
                  %td= custom_var.description
                  %td= custom_var.value
                - email_list_name_prev = custom_var.email_list_name
      = f.button :submit
