= paginate @subscribers

#spinner= image_tag 'spinner.gif', alt: 'Loading...'

.clearfix
.table-responsive
  %table{ class: table_class + ' subscribers_table' }
    %thead
      %tr
        %th &nbsp;
        %th &nbsp;
        %th= t('activerecord.attributes.subscriber.name')
        %th= t('activerecord.attributes.subscriber.email')
        %th= t('activerecord.attributes.subscriber.phone')
        %th= t('activerecord.attributes.subscriber.created_at')
        %th Email подтвержден?
        %th
          Черный список
          %br
          для Email
          %br
          и телефона
        - if @can_destroy
          %th &nbsp;

    .subscribers
      %tbody
        - @subscribers.each do |subscriber|
          %tr
            %td= link_to_edit [:admin, subscriber]
            %td.btn-col
              = btn_group do
                - if policy(subscriber).statistics?
                  = link_to admin_subscriber_subscriber_statistics_path(subscriber), class: 'dropdown-item' do
                    = admin_icon(:poll)
                    Статистика
            %td= subscriber.name
            %td= subscriber.email
            %td= subscriber.phone
            %td= date_ru(subscriber.created_at)
            %td= yes_no(!subscriber.confirmed_at.nil?)
            %td
              = yes_no(subscriber.email_problems_count == 0 && subscriber.raised_exception_at.nil?)
              = yes_no(subscriber.phone_problems_count == 0)
            - if @can_destroy
              %td= link_to_destroy [:admin, subscriber]

= paginate @subscribers
