- title t('headers.subscribers')
- javascript 'jquery.ba-url.min.js', 'pagination'

- if policy(Subscriber).new?
  = link_to_new :subscriber

- if policy(SubscriberImport).new?
  = link_to_new :subscriber_import

#subscriber_search<
  = form_tag admin_subscribers_path, method: :get, id: 'search_form', class: 'form-inline' do
    %label.sr-only{ for: 'email_list' } Email список:
    = select_tag :email_list, @email_list_options, class: form_control_class
    %label.sr-only{ for: 'id' } Id:
    = text_field_tag :id, params[:id], placeholder: 'id', class: form_control_class
    %label.sr-only{ for: 'name' } Имя:
    = text_field_tag :name, params[:name], placeholder: 'имя', class: form_control_class
    %label.sr-only{ for: 'email' } Email:
    = text_field_tag :email, params[:email], placeholder: 'email', class: form_control_class
    %label.sr-only{ for: 'phone' } Телефон:
    = text_field_tag :phone, params[:phone], placeholder: 'телефон', class: form_control_class
    = render 'partials/per_page'
    = button_tag 'Искать', name: nil, class: 'btn btn-secondary my-1'

#subscribers= render 'subscribers'
