= link_to_back admin_mailing_requests_path

= form_wrapper t("actions.mailing_request.#{action}") do
  = simple_nested_form_for [:admin, @mailing_request], html: { multipart: true } do |f|
    = error_notifications(f)

    = fieldset do
      = f.input :status, collection: @mailing_request_statuses, include_blank: false
      = f.input :subject
      = f.input :body
      = f.association :email_lists, as: :check_boxes, collection: @email_lists
      = f.input :deliver_at
      = f.input :mailing_type, collection: @mailing_types
      = f.simple_fields_for :images do |builder|
        = render 'images', f: builder
      = f.link_to_add 'Добавить фотографию', :images
      = f.association :donation_method
      = f.input :donated_at, include_blank: true
      = f.input :comments
    = f.button :submit
