- title t('headers.mailing_requests')

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.mailing_request.id')
        %th= t('activerecord.attributes.mailing_request.subject')
        %th= t('activerecord.attributes.mailing_request.status')
        %th.btn-col
        %th.btn-col

    %tbody
      - @mailing_requests.each do |mailing_request|
        %tr
          %td= mailing_request.id
          %td= link_to mailing_request.subject, admin_mailing_request_mailing_request_messages_path(mailing_request)
          %td= t("mailing_request_statuses.#{mailing_request.status}")
          %td.btn-col= link_to_edit [:admin, mailing_request]
          %td.btn-col= link_to_destroy [:admin, mailing_request]
