= paginate @email_send_histories

#spinner= image_tag 'spinner.gif', alt: 'Loading...'

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.email_send_history.email')
        %th= t('activerecord.attributes.email_send_history.subscriber')
        %th= t('activerecord.attributes.email_send_history.created_at')
        %th.btn-col &nbsp;

    %tbody
      - @email_send_histories.each do |email_send_history|
        %tr
          %td= email_send_history.email
          %td= link_to_subscriber email_send_history
          %td= date_ru email_send_history.created_at
          %td.btn-col= link_to_destroy [:admin, email_send_history]

= paginate @email_send_histories
