- title t('headers.email_send_histories')
- javascript 'jquery.ba-url.min.js', 'pagination'

#subscriber_search<
  = form_tag admin_email_send_histories_path, method: :get, id: 'search_form', class: 'form-inline' do
    %label.sr-only{ for: 'email' }= t('activerecord.attributes.email_send_history.email') + ':'
    = text_field_tag :email, params[:email], placeholder: t('activerecord.attributes.email_send_history.email').downcase, class: form_control_class
    = button_tag 'Искать', name: nil, class: 'btn btn-secondary my-1'

#history_list= render partial: 'history_list'
