- title 'Отправить письмо для подтвреждения регистрации'

%p
  После регистрации Вам было отправлено письмо для подтверждения Вашего ящика.
  Если Вы в течение 10-ти минут не получили это письмо, пожалуйста, введите здесь Ваш email и мы вышлем письмо еще раз.

= semantic_form_for resource, as: resource_name, url: confirmation_path(resource_name) do |f|
  = f.inputs :email

  = f.buttons do
    = f.commit_button label: 'Отправить'

= render "devise/shared/devise_links"