%p
  Если сообщение некорректно отображается, откройте его
  = link_to 'в браузере', r.mailing_url(mailing, auth_token: '[AUTH_TOKEN]', email: '[SUBSCRIBER_EMAIL]'), target: '_blank'

- unless email_list.never_visible
  = render partial: 'vioms_mailer/unsubscription_links', locals: { email_list: email_list }
