%p{ style: 'font-style:italic' }
  %br
  Отписаться от email рассылки
  = "\"#{email_list.name}\""
  Вы можете
  = link_to 'здесь', r.new_unsubscription_url(email_list_id: email_list.id, auth_token: '[AUTH_TOKEN]', email: '[SUBSCRIBER_EMAIL]')
  %br
  Изменить настройки подписки Вы можете
  = link_to 'здесь', r.edit_my_settings_url(auth_token: '[AUTH_TOKEN]', email: '[SUBSCRIBER_EMAIL]')
