<p>Уважаемый пользователь!</p>

<p>Не хватает средств для отправки sms:</p>

<p><%= @sms_sending.message %></p>

<p>Войти в личный кабинет можно по ссылке: <a href="https://vioms.ru/admin">https://vioms.ru/admin</a></p>
