<p>Здравствуйте!</p>

<p>Вы зарегистрировались на сайте Вайшнавской Информационной Службы (ВИОМС) - www.vioms.ru.</p>

<p>
  Чтобы получать рассылки, пожалуйста, подтвердите Ваш email адрес. Для этого перейдите по
  <strong>
    <%= link_to 'ссылке', confirm_email_confirmations_url(auth_token: @auth_token, email: @email, confirmation_token: @email_confirmation_token) %>
  </strong>
</p>

<p>Если Вы не подтвердите свой адрес, Вы не будете получать никакие рассылки.</p>

<p>Спасибо!</p>

<p>Администрация ВИОМС<br />
<a href="https://www.vioms.ru/">www.vioms.ru</a></p>
