<p>Уважаемый пользователь!</p>

<p>Баланс Вашего счёта &quot;<%= @sms_account.name %>&quot; на сайте vioms.ru <%= Time.now.to_fs(:rus_datetime) %> равен <%= @sms_account.balance %>, доступно для резервирования <%= @sms_account.reservable_amount %>.</p>

<p>Войти в личный кабинет можно по ссылке: <a href="https://vioms.ru/admin">https://vioms.ru/admin</a></p>
