- title @survey.title

= simple_form_for :form, url: survey_subscriber_answer_path(@survey), method: :put do |f|
  - @survey.survey_questions.ordered.each do |q|
    - options = { label: q.question, required: false }
    - case q.question_type.to_sym
    - when :string
      = f.input q.id, **options
    - when :text
      = f.input q.id, as: :text, **options
    - when :options
      = f.input q.id, collection: q.survey_answers.ordered.pluck(:answer, :id), **options
    - when :vote
      = f.input q.id, collection: (1..10), as: :radio_buttons, wrapper: :horizontal_collection_inline, **options
  = f.button :submit, 'Отправить'