= link_to_back admin_donation_methods_path

= form_wrapper t("actions.donation_method.#{action}") do
  = simple_form_for [:admin, @donation_method] do |f|
    = error_notifications(f)

    = fieldset do
      = f.input :name
    = f.button :submit
