- title t('headers.donation_methods')

= link_to_new :donation_method

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col
        %th= t('activerecord.attributes.donation_method.name')
        %th.btn-col

    %tbody
      - @donation_methods.each do |donation_method|
        %tr
          %td.btn-col= link_to_edit [:admin, donation_method]
          %td= donation_method.name
          %td.btn-col= link_to_destroy [:admin, donation_method]
