= link_to_back admin_banner_owners_path

= form_wrapper t("actions.banner_owner.#{action}") do
  = permitted_form_for [:admin, @banner_owner] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :contact
    = f.button :submit
