- title t('headers.banner_owners')

= link_to_new :banner_owner

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.banner_owner.name')
        %th= t('activerecord.attributes.banner_owner.contact')
        %th.btn-col &nbsp;

    %tbody
      - @banner_owners.each do |banner_owner|
        %tr
          %td.btn-col= link_to_edit [:admin, banner_owner]
          %td= banner_owner.name
          %td= banner_owner.contact
          %td.btn-col= link_to_destroy [:admin, banner_owner]
