- title 'Подтверждение Email'

.mt-4
  - if current_subscriber_user.confirmed_at.present?
    %p Ваш Email адрес уже подтвержден.
  - else
    %p
      %i Вам выслано письмо для подтверждения email адреса. Пожалуйста, откройте письмо и следуйте инструкции.
