- title 'Вход в админку'

= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  = fieldset do
    = f.input :login
    = f.input :password

    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, label: 'Запомнить меня'

  = f.button :submit, 'Войти', id: :user_submit

= render 'devise/shared/devise_links'
