= link_to_back admin_email_problem_names_path

= form_wrapper t("actions.email_problem_name.#{action}") do
  = simple_form_for [:admin, @email_problem_name] do |f|
    = error_notifications(f)
    = fieldset do
      = f.input :name
      = f.input :problem_type, collection: @problem_types, include_blank: false
    = f.button :submit
