- title t('headers.email_problem_names')
- javascript 'email_problem_names'

= link_to_new :email_problem_name

.clearfix
.table-responsive
  %table#email_problem_names{ class: table_class, 'data-update-url' => sort_admin_email_problem_names_path }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.email_problem_name.name')
        %th= t('activerecord.attributes.email_problem_name.problem_type')
        %th.btn-col &nbsp;

    %tbody
      - @email_problem_names.each do |email_problem_name|
        = content_tag_for :tr, email_problem_name do
          %td.btn-col= link_to_edit [:admin, email_problem_name]
          %td.btn-col.handle= admin_icon(:move)
          %td= email_problem_name.name
          %td= get_problem_type_name(email_problem_name.problem_type)
          %td.btn-col= link_to_destroy [:admin, email_problem_name]
