= link_to_back admin_banner_order_banners_path(@banner_order)

= form_wrapper t("actions.banner.#{action}") do
  = permitted_form_for [:admin, @banner_order, @banner] do |f|
    = f.error_notification
    = fieldset do
      = f.association :banner_order, include_blank: false
      = f.input :image
      = f.input :link
      = f.input :placement, collection: Banner::BANNER_PLACEMENTS.invert
      = f.input :priority
    = f.button :submit
