- title t('headers.banners')

= link_to_back admin_banner_orders_path
= link_to_new :banner, @banner_order

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th &nbsp;
        %th= t('activerecord.attributes.banner.link')
        %th= t('activerecord.attributes.banner.placement')
        %th= t('activerecord.attributes.banner.priority')
        %th= t('activerecord.attributes.banner.show_count')
        %th= t('activerecord.attributes.banner.click_count')
        %th.btn-col &nbsp;

    %tbody
      - @banners.each do |banner|
        %tr
          %td.btn-col= link_to_edit [:admin, @banner_order, banner]
          %td= link_to 'Показать', [:admin, @banner_order, banner]
          %td= banner.link
          %td= Banner::BANNER_PLACEMENTS[banner.placement]
          %td= banner.priority
          %td= banner.show_count
          %td= banner.click_count
          %td.btn-col= link_to_destroy [:admin, @banner_order, banner]
