= link_to_back admin_banner_order_banners_path(@banner_order)

.table-responsive
  %table{ class: table_class }
    %tr
      %td.text-center{ colspan: 2}= image_tag @banner.image.url
    %tr
      %th= t('activerecord.attributes.banner.link')
      %td= @banner.link
    %tr
      %th= t('activerecord.attributes.banner.placement')
      %td= @banner.placement
    %tr
      %th= t('activerecord.attributes.banner.priority')
      %td= @banner.priority
    %tr
      %th= t('activerecord.attributes.banner.show_count')
      %td= @banner.show_count
    %tr
      %th= t('activerecord.attributes.banner.click_count')
      %td= @banner.click_count
