<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to new_password_path(resource_name) do %>
        <div class="py-2">
          <%- if devise_mapping.class_name == 'User' -%>
            Забыли пароль администратора?
          <%- else -%>
            Забыли пароль?
          <%- end -%>
        </div>
    <% end %>
<% end -%>
