- javascript('jquery.ba-url.min.js', 'email_digest')

= link_to_back admin_email_digests_path

= form_wrapper t("actions.email_digest.#{action}") do
  = permitted_form_for [:admin, @email_digest] do |f|
    = f.error_notification
    = fieldset do
      = f.association :email_list, collection: @email_lists
      = f.input :num
      = f.input :deliver_at
    = f.button :submit
