- title t('headers.email_digests')
- javascript 'admin/popup'

= link_to_new :email_digest

= paginate @email_digests

.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.bnt-col &nbsp;
        %th.bnt-col &nbsp;
        %th.bnt-col &nbsp;
        %th= t('activerecord.attributes.email_digest.num')
        %th= t('activerecord.attributes.email_digest.email_list')
        %th= t('activerecord.attributes.email_digest.deliver_at')
        %th.bnt-col &nbsp;

    %tbody
      - @email_digests.each do |email_digest|
        %tr
          %td.bnt-col= sending_edit_link(email_digest)
          %td.btn-col
            = btn_group do
              = publish_sending_li(email_digest)
              = link_to_with_icon t('site.preview'), admin_email_digest_path(email_digest), :preview, class: 'dropdown-item popup'
              = cancel_sending_li(email_digest)
          %td.bnt-col= sending_status_column(email_digest)
          %td= email_digest.num
          %td
            = link_to admin_icon(:edit), edit_admin_email_list_path(email_digest.email_list, digest: true), class: 'btn btn-success'
            = email_digest.email_list.name
          %td= date_ru(email_digest.deliver_at)
          %td.bnt-col= link_to_destroy [:admin, email_digest]

= paginate @email_digests
