- if current_user.email_list_ids.count.zero?
  %h1 Вы не можете создавать email дайджест

  %p У Вас нет прав ни к одному из списков email рассылки. Попросите старшего администратора выделить Вам необходимые права.

  = link_to_back admin_email_digests_path
- else
  = render 'form', action: 'create'
