- title 'Телеграм рассылки'

= TextBlock.get(:telegram_groups)

.list-group
  - @telegram_groups.each do |telegram_group|
    .list-group-item.list-group-item-action
      .d-flex
        .h5= telegram_group.name
        - if telegram_group.invite_link.present?
          &nbsp;-&nbsp;
          = link_to 'Присоединиться', telegram_group.invite_link, target: '_blank'

      - if telegram_group.description.present?
        %p= telegram_group.description
