= link_to_back admin_subscriber_email_problems_path(@subscriber)

= form_wrapper t("actions.phone_problem.#{action}") do
  = simple_form_for [:admin, @subscriber, @phone_problem] do |f|
    = error_notifications(f)
    = fieldset do
      = f.association :phone_problem_name
      = f.input :description
      = f.input :solved
    = f.button :submit
