- title t('headers.phone_problems')

= link_to_back edit_admin_subscriber_path(@subscriber)
= link_to_new :phone_problem, @subscriber

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th &nbsp;
        %th= t('activerecord.attributes.phone_problem.phone_problem_type')
        %th= t('activerecord.attributes.phone_problem.created_at')
        %th= t('activerecord.attributes.phone_problem.solved')

    %tbody
      - @phone_problems.each do |phone_problem|
        %tr
          %td= link_to_edit [:admin, @subscriber, phone_problem]
          %td= phone_problem.phone_problem_name.name
          %td= phone_problem.created_at
          %td= yes_no(phone_problem.solved)
