= link_to_back admin_stripo_template_groups_path

- javascript 'admin/stripo_template_group'

= form_wrapper t("actions.stripo_template_group.#{action}") do
  = simple_form_for [:admin, @stripo_template_group] do |f|
    - hide_root_style = !@stripo_template_group.root? ? 'display: none' : nil
    = f.error_notification
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'email_lists', 'Email списки', css_class: 'root-group-elements', style: hide_root_style
      = tab_presentation 'users', 'Пользователи', css_class: 'root-group-elements', style: hide_root_style
    = tabs_content do
      = tab_pane 'main', true do
        = f.input :name
        = f.tree :parent, nil, collection: @stripo_template_groups
        - if effective_admin?
          .root-group-elements{ style: hide_root_style }
            = f.input :public
            = f.association :user
      = tab_pane 'email_lists' do
        = f.association :email_lists, as: :check_boxes, collection: @email_lists, legend_tag: false
      = tab_pane 'users' do
        = f.association :users, as: :check_boxes, collection: Stripo::TemplateGroup::UsersList.call(current_user), legend_tag: false
    = f.button :submit
