- title t('headers.stripo_template_groups')

- if policy(Stripo::TemplateGroup.new(parent: @stripo_template_group)).new?
  = link_to new_admin_stripo_template_group_path(stripo_template_group_id: @stripo_template_group&.id), class: 'btn btn-primary mt-2 mb-3' do
    - admin_icon(:plus) + '&nbsp;'.html_safe + t('actions.stripo_template_group.create')

- if @stripo_template_group
  %p
    = link_to 'Все', admin_stripo_template_groups_path
    &gt;
    - @stripo_template_group.ancestors.reverse.each do |stripo_template_group|
      = link_to stripo_template_group.name, admin_stripo_template_groups_path(stripo_template_group_id: stripo_template_group.id)
      &gt;
    = @stripo_template_group.name

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('view.stripo/template_group.name')
        %th= t('view.stripo/template_group.templates')
        - if effective_admin?
          %th= t('view.stripo/template_group.user')
        %th.btn-col &nbsp;

    %tbody
      - @stripo_template_groups.each do |stripo_template_group|
        %tr
          %td
            - if policy(stripo_template_group).edit?
              = link_to_edit [:admin, stripo_template_group]
          %td= link_to stripo_template_group.name, admin_stripo_template_groups_path(stripo_template_group_id: stripo_template_group)
          %td= link_to t('view.stripo/template_group.templates'), admin_stripo_template_group_stripo_templates_path(stripo_template_group)
          - if effective_admin?
            %td= stripo_template_group.user&.name
          %td
            - if policy(stripo_template_group).destroy?
              = link_to_destroy [:admin, stripo_template_group]
