= link_to_back admin_polls_path

= form_wrapper t("actions.poll.#{action}") do
  = permitted_form_for [:admin, @poll] do |f|
    = f.error_notification
    = fieldset do
      = f.input :title
    = f.button :submit
