- title t('headers.polls')

= link_to_new :poll

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.poll.title')
        %th= t('headers.answers')
        %th= t('headers.subscriber_answers')
        %th.btn-col &nbsp;

    %tbody
      - @polls.each do |poll|
        %tr
          %td.btn-col= link_to_edit [:admin, poll]
          %td= poll.title
          %td= link_to t('headers.answers'), admin_poll_answers_path(poll)
          %td= link_to t('headers.subscriber_answers'), admin_poll_subscriber_answers_path(poll)
          %td.btn-col= link_to_destroy [:admin, poll]
