= link_to_back admin_telegram_groups_path

= form_wrapper t("actions.telegram_group.#{action}") do
  = simple_form_for([:admin, @telegram_group]) do |f|
    = tabs_block do
      = tab_presentation 'description', 'Описание', true
      - if effective_admin?
        = tab_presentation 'permissions', 'Права'
    = tabs_content do
      = tab_pane 'description', true do
        = f.error_notification
        = f.input :name
        = f.input :visible
        = f.input :description
        = f.input :invite_link
        = f.input :chat_id
        = f.input :bot_token
      - if effective_admin?
        = tab_pane 'permissions' do
          = fieldset 'Имеют доступ:' do
            = f.association :users, as: :check_boxes, collection: @users, legend_tag: false
    = f.button :submit
