- title t('headers.telegram_groups')

- if policy(TelegramGroup).new?
  = link_to_new :telegram_group

= paginate @telegram_groups

.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.telegram_group.name')
        %th= t('activerecord.attributes.telegram_group.chat_id')
        - if @can_destroy
          %th.btn-col &nbsp;

    %tbody
      - @telegram_groups.each do |telegram_group|
        %tr
          %td.btn-col= link_to_edit [:admin, telegram_group]
          %td.btn-col
            = btn_group do
              = link_to_with_icon 'Показать список сообщений', admin_telegram_messages_path(telegram_group: telegram_group.id), :list, class: 'dropdown-item'
              = link_to_with_icon 'Создать сообщение', new_admin_telegram_message_path(telegram_group: telegram_group.id), :plus, class: 'dropdown-item'
          %td= telegram_group.name
          %td= telegram_group.chat_id
          - if @can_destroy
            %td.btn-col= link_to_destroy [:admin, telegram_group]

= paginate @telegram_groups
