= paginate @sms_send_histories

#spinner= image_tag 'spinner.gif', alt: 'Loading...'

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.sms_send_history.phone')
        %th= t('activerecord.attributes.sms_send_history.subscriber')
        %th= t('activerecord.attributes.sms_send_history.type')
        %th= t('activerecord.attributes.sms_send_history.created_at')
        %th= t('activerecord.attributes.sms_send_history.expire_at')
        %th.btn-col &nbsp;

    %tbody
      - @sms_send_histories.each do |sms_send_history|
        %tr
          %td= sms_send_history.phone
          %td= link_to_subscriber sms_send_history
          %td= sms_send_history.message_type.description
          %td= date_ru sms_send_history.created_at
          %td= date_ru sms_send_history.expire_at
          %td.btn-col= link_to_destroy [:admin, sms_send_history]

= paginate @sms_send_histories
