- title t('headers.sms_send_histories')
- javascript 'jquery.ba-url.min.js', 'pagination'

#subscriber_search<
  = form_tag admin_sms_send_histories_path, method: :get, id: 'search_form', class: 'form-inline' do
    %label.sr-only{ for: 'phone' } Телефон:
    = text_field_tag :phone, params[:phone], placeholder: 'телефон', class: form_control_class
    %label.sr-only{ for: 'message_type' } Типы:
    = select_tag :message_type, @message_types, class: form_control_class
    = button_tag 'Искать', name: nil, class: 'btn btn-secondary my-1'

#history_list= render partial: 'history_list'
