- title t('headers.subscriber_import_person')

= link_to_back admin_subscriber_import_subscriber_import_people_path(@subscriber_import)

= form_wrapper t('actions.subscriber_import_person.edit') do
  = simple_form_for [:admin, @subscriber_import, @subscriber_import_person] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :email
      = f.input :phone
    = f.button :submit
