- title t('headers.subscriber_import_people')

= link_to_back admin_subscriber_imports_path

= paginate @subscriber_import_people

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th &nbsp;
        %th= t('activerecord.attributes.subscriber_import_person.name')
        %th= t('activerecord.attributes.subscriber_import_person.email')
        %th= t('activerecord.attributes.subscriber_import_person.phone')
        %th= t('activerecord.attributes.subscriber_import_person.error')

    %tbody
      - @subscriber_import_people.each do |subscriber_import_person|
        %tr
          %td
            - if policy(subscriber_import_person).edit?
              = link_to_edit [:admin, @subscriber_import, subscriber_import_person]
            - else
              &nbsp;
          %td= subscriber_import_person.name
          %td= subscriber_import_person.email
          %td= subscriber_import_person.phone
          %td= subscriber_import_person.error_message

= paginate @subscriber_import_people
