= link_to_back admin_external_redirects_path

= form_wrapper t("actions.external_redirect.#{action}") do
  = permitted_form_for [:admin, @external_redirect] do |f|
    = f.error_notification
    = fieldset do
      = f.input :url
      = f.input :is_relative
    = fieldset do
      = f.input :is_simple
      = f.input :param_name
    = f.button :submit
