- title t('headers.external_redirects')

= link_to_new :external_redirect

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.external_redirect.url')
        %th= t('activerecord.attributes.external_redirect.resolved_count')
        %th= t('activerecord.attributes.external_redirect.unresolved_count')
        %th= t('activerecord.attributes.external_redirect.is_relative')
        %th= t('activerecord.attributes.external_redirect.is_simple')
        %th= t('activerecord.attributes.external_redirect.param_name')
        %th.btn-col &nbsp;

    %tbody
      - total_resolved = 0
      - total_unresolved = 0
      - @external_redirects.each do |external_redirect|
        - total_resolved = total_resolved + external_redirect.resolved_count
        - total_unresolved = total_unresolved + external_redirect.unresolved_count
        %tr
          %td.btn-col= link_to_edit [:admin, external_redirect]
          %td= external_redirect.url
          %td= external_redirect.resolved_count
          %td= external_redirect.unresolved_count
          %td= yes_no(external_redirect.is_relative)
          %td= yes_no(external_redirect.is_simple)
          %td= external_redirect.param_name
          %td.btn-col= link_to_destroy [:admin, external_redirect]

      %tr
        %td &nbsp;
        %td Всего:
        %td= total_resolved
        %td= total_unresolved
        %td{colspan: 4} &nbsp;
