= link_to_back admin_messenger_types_path

= form_wrapper t("actions.messenger_type.#{action}") do
  = permitted_form_for [:admin, @messenger_type] do |f|
    = fieldset do
      = f.input :name
      = f.input :char
    = f.button :submit
