- title t('headers.messenger_types')

%p= link_to t('actions.messenger_type.create'), new_admin_messenger_type_path

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.messenger_type.name')
        %th= t('activerecord.attributes.messenger_type.char')
        %th.btn-col &nbsp;

    %tbody
      - @messenger_types.each do |messenger_type|
        %tr
          %td.btn-col= link_to_edit [:admin, messenger_type]
          %td= messenger_type.name
          %td= messenger_type.char
          %td.btn-col= link_to_destroy [:admin, messenger_type]
