- content_for(:head) do
  :javascript
    $(document).ready(function(){
      var the_mask = "(999) 999-9999";
      $("#my_settings_phone").mask(the_mask);
      $("#subscriber_user_phone").mask(the_mask);
    });
