= link_to_back admin_smtp_setting_group_smtp_settings_path(@smtp_setting_group)

= form_wrapper t("actions.smtp_setting.#{action}") do
  = permitted_form_for [:admin, @smtp_setting_group, @smtp_setting] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :value
    = f.button :submit
