- title t('headers.smtp_settings')

= link_to_back admin_smtp_setting_groups_path
= link_to_new :smtp_setting, @smtp_setting_group

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th Имя
        %th Значение
        %th.btn-col &nbsp;

    %tbody
      - @smtp_settings.each do |smtp_setting|
        %tr
          %td= link_to_edit [:admin, @smtp_setting_group, smtp_setting]
          %td= smtp_setting.name
          %td= smtp_setting.value
          %td= link_to_destroy [:admin, @smtp_setting_group, smtp_setting]
