= link_to_back admin_banner_orders_path

= form_wrapper t("actions.banner_order.#{action}") do
  = permitted_form_for [:admin, @banner_order] do |f|
    = f.error_notification
    = fieldset do
      = f.input :banner_name
      = f.association :banner_owner
      = f.input :start_on
      = f.input :end_on
    = f.button :submit
