- title t('headers.banner_orders')

= link_to_new :banner_order

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.banner_order.banner_name')
        %th= t('activerecord.attributes.banner_order.banner_owner')
        %th= t('activerecord.attributes.banner_order.start_on')
        %th= t('activerecord.attributes.banner_order.end_on')
        %th.btn-col &nbsp;

    %tbody
      - @banner_orders.each do |banner_order|
        %tr
          %td.btn-col= link_to_edit [:admin, banner_order]
          %td.btn-col= link_to admin_icon(:banners), admin_banner_order_banners_path(banner_order), class: 'btn btn-outline-secondary'
          %td= banner_order.banner_name
          %td= banner_order.banner_owner.name
          %td= banner_order.start_on
          %td= banner_order.end_on
          %td.btn-col= link_to_destroy [:admin, banner_order]
