= link_to_back admin_blacklist_emails_path

= form_wrapper t("actions.blacklist_email.#{action}") do
  = permitted_form_for [:admin, @blacklist_email] do |f|
    = f.error_notification
    = fieldset do
      = f.input :email
    = f.button :submit
