- title t('headers.blacklist_emails')

%p С этих адресов не будут приниматься заявки в RT

= link_to_new :blacklist_email

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.blacklist_email.email')
        %th.btn-col &nbsp;

    %tbody
      - @blacklist_emails.each do |blacklist_email|
        %tr
          %td.btn-col= link_to_edit [:admin, blacklist_email]
          %td= blacklist_email.email
          %td.btn-col= link_to_destroy [:admin, blacklist_email]
