- title 'Мой пароль'

%p Здесь Вы можете изменить пароль.

= simple_form_for current_subscriber_user, url: registration_path, method: :put do |f|
  = fieldset do
    - if f.object.encrypted_password_was.present?
      = f.input :current_password, required: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
  = f.button :submit, 'Изменить пароль'
