- javascript 'jquery.ba-url.min.js', 'subscriber_registration.js'
- title 'Зарегистрироваться'
= render 'partials/phone_mask'

= TextBlock.get(:register)

= simple_form_for @subscriber_user, url: registration_path, method: :post do |f|
  = f.error_messages
  = fieldset 'Email рассылки' do
    = f.association :email_lists, collection: EmailList.visible.without_never_visible, as: :check_boxes, legend_tag: false
  = fieldset do
    = f.input :email
    = f.input :phone
    = f.input :set_password, as: :boolean
    #password-fields.hidden
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
    = f.input :accept_privacy_policy, as: :boolean, label: t('simple_form.labels.subscriber_user.accept_privacy_policy').html_safe
    = f.button :submit, 'Подписаться', id: :subscriber_user_submit
