- title t('headers.phone_problem_names')
- javascript 'phone_problem_names'

= link_to_new :phone_problem_name

.clearfix
.table-responsive
  %table#phone_problem_names{ class: table_class, 'data-update-url' => sort_admin_phone_problem_names_path }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.phone_problem_name.name')
        %th= t('activerecord.attributes.phone_problem_name.problem_type')
        %th.btn-col &nbsp;

    %tbody
      - @phone_problem_names.each do |phone_problem_name|
        = content_tag_for :tr, phone_problem_name do
          %td.btn-col= link_to_edit [:admin, phone_problem_name]
          %td.btn-col.handle= admin_icon(:move)
          %td= phone_problem_name.name
          %td= get_problem_type_name(phone_problem_name.problem_type)
          %td.btn-col= link_to_destroy [:admin, phone_problem_name]
