- title 'Отписаться от рассылки'

#unsubscription
  %p
    Адрес
    %strong= current_subscriber_user.email
    будет отписан от рассылок
    = %Q("#{@unsubscription.email_list.name}")

  = permitted_form_for @unsubscription do |f|
    = f.input :email_list_id, as: :hidden
    = f.association :unsubscription_reason, as: :radio_buttons
    = f.input :comments
    = f.button :submit
