= form_wrapper(t('headers.import_phone_problems')) do
  = form_tag admin_import_phone_problems_path do
    = fieldset do
      .form-group
        %label{ for: 'problem_name' } Тип проблемы
        = select_tag :problem_name, options_from_collection_for_select(PhoneProblemName.select(%i[id name]), 'id', 'name'), class: 'form-control'
      %p Вводите номера телефонов столбиком или через запятую. После отправки формы в поле останутся номера с ошибками.
      .form-group
        %label{ for: 'phones', class: 'sr-only' } Телефоны
        = text_area_tag :phones, @phones, class: 'form-control'
      = button_tag 'Добавить', class: 'btn btn-primary'
