- title t('search.title')

= form_with url: search_mailings_path, method: :get, id: 'search_form' do |f|
  .form-group
    %label{ for: 'search' }= t('search.search') + ':'
    = f.text_field :search, class: 'form-control', placeholder: t('search.placeholder'), value: params[:search]
  .form-group
    %label{ for: 'email_list' }= t('headers.email_list') + ':'
    = select_tag :email_list, @email_list_options, class: 'form-control'
  .form-group
    = f.button admin_icon(:search) + (' ' + t('search.submit')).html_safe, type: :submit, class: 'btn btn-primary'


- if @mailings.count > 0
  = paginate @mailings

  - hide_email_list = params[:email_list].to_i > 0
  %table.table.table-striped
    %thead
      %tr
        - unless hide_email_list
          %th Список
        %th Тема
        %th Когда отправлено
    %tbody
      - @mailings.each do |mailing|
        %tr
          - unless hide_email_list
            %td= mailing&.email_list&.name
          %td= link_to mailing.subject, mailing_path(mailing)
          %td= date_ru mailing.deliver_at

  = paginate @mailings
- else
  %p= t('search.not_found')
