= link_to_back admin_email_list_email_list_var_names_path(@email_list)

= form_wrapper t("actions.email_list_var_name.#{action}") do
  = permitted_form_for [:admin, @email_list, @email_list_var_name] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :description
      = f.input :is_text
      = f.input :with_editor
      = f.input :skip_validation
    = f.button :submit
