- title t('headers.email_list_var_names')
- javascript 'email_list_var_names'

%h4
  Для списка:
  = @email_list.name

= link_to_back admin_email_lists_path
= link_to_new :email_list_var_name, @email_list

.clearfix
.table-responsive
  %table#email_list_var_names{ class: table_class, 'data-update-url' => sort_admin_email_list_email_list_var_names_path(@email_list) }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.email_list_var_name.name')
        %th= t('activerecord.attributes.email_list_var_name.description')
        %th.btn-col &nbsp;

    %tbody
      - @email_list_var_names.each do |email_list_var_name|
        = content_tag_for :tr, email_list_var_name do
          %td.btn-col= link_to_edit [:admin, @email_list, email_list_var_name]
          %td.handle= admin_icon(:move)
          %td= email_list_var_name.name
          %td= email_list_var_name.description
          %td.btn-col= link_to_destroy [:admin, @email_list, email_list_var_name]
