- title 'Email рассылки'

= TextBlock.get(:email_lists)

.list-group.mb-4
  - @email_lists.each do |email_list|
    = link_to email_list.name, email_list_mailings_path(email_list), class: 'list-group-item'

%p
  = link_to admin_icon(:rss) + ' RSS', email_lists_path(format: 'rss')
  = link_to 'ATOM', email_lists_path(format: 'atom')
