= link_to_back admin_poll_answers_path(@poll)

= form_wrapper t("actions.answer.#{action}") do
  = permitted_form_for [:admin, @poll, @answer] do |f|
    = f.error_notification
    = fieldset do
      = f.input :title
      = f.input :position
    = f.button :submit
