- title t('headers.answers')

= link_to_back admin_polls_path
= link_to_new :answer, @poll

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.answer.id')
        %th= t('activerecord.attributes.answer.title')
        %th= t('activerecord.attributes.answer.position')
        %th.btn-col &nbsp;

    %tbody
      - @answers.each do |answer|
        %tr
          %td.btn-col= link_to_edit [:admin, @poll, answer]
          %td= answer.id
          %td= answer.title
          %td= answer.position
          %td.btn-col= link_to_destroy [:admin, @poll, answer]
