%h1 Новости

%table.table.table-striped
  %thead
    %tr
      %th Новость
      %th Дата
  %tbody
    - @news_items.each do |news_item|
      %tr
        %td= link_to news_item.title, news_item_path(news_item)
        %td= date_ru news_item.date

= paginate @news_items
