- title @news_item.title, false

%p= link_to 'Вернуться к списку новостей', news_items_path, class: 'btn btn-sm btn-outline-secondary'

%h1.h2= @news_item.title

%p.date= date_ru(@news_item.date)
= @news_item.content.html_safe
