- title t('headers.mailing_views')

= link_to_back admin_mailings_path

.row
  .col-sm-6
    - deliveries_count = @mailing.deliveries_count
    - uniq_views_count = @mailing.mailing_views.count
    - delivery_percentage = ((uniq_views_count.to_f/deliveries_count) * 100).round(2)
    = p_strong(t('view.mailing.delivery_percentage'), "#{delivery_percentage}%")
    = p_strong(t('activerecord.attributes.mailing.deliveries_count'), deliveries_count)
    = p_strong(t('activerecord.attributes.mailing.email_uniq_views'), uniq_views_count)
    = p_strong(t('activerecord.attributes.mailing.email_views'), @mailing.mailing_views.sum(:count))
    = p_strong(t('activerecord.attributes.mailing.delivery_errors_count'), @mailing.delivery_errors_count)

  .col-sm-6
    = p_strong(t('activerecord.attributes.mailing.subject'), @mailing.subject)
    = p_strong(t('activerecord.attributes.mailing.email_list'), @mailing.email_list.name)
    = p_strong(t('view.mailing.delivered_at'), @mailing.deliver_at.to_fs(:rus_datetime))

%h2.mt-5.mb-3 Подписчики

= paginate @mailing_views

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %th= t('activerecord.attributes.subscriber.name')
      %th= t('activerecord.attributes.subscriber.email')
      %th= t('activerecord.attributes.mailing_view.count')
      %th= t('activerecord.attributes.mailing_view.created_at')
      %th= t('activerecord.attributes.mailing_view.updated_at')
    %tbody
      - @mailing_views.each do |mailing_view|
        - subscriber = mailing_view.subscriber
        %tr
          - edit_link = edit_admin_subscriber_path(subscriber)
          %td= link_to subscriber.name || '&nbsp;'.html_safe, edit_link
          %td= link_to subscriber.email, edit_link
          %td= mailing_view.count
          %td= mailing_view.created_at.to_fs(:rus_datetime)
          %td= mailing_view.updated_at.to_fs(:rus_datetime)

= paginate @mailing_views
