- title t('actions.sms_message.edit')

= link_to_back admin_sms_messages_path

= form_wrapper t('actions.sms_message.edit') do
  = permitted_form_for [:admin, @sms_message] do |f|
    = f.error_notification
    = fieldset do
      = f.input :description do
        = @sms_message.sms_send_history_type.description
      = f.input :subject_addition
      = f.input :message
    = f.button :submit
