- title t('headers.sms_messages')

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.sms_message.description')
        %th= t('activerecord.attributes.sms_message.message')

    %tbody
      - @sms_messages.each do |sms_message|
        %tr
          %td.btn-col= link_to_edit [:admin, sms_message]
          %td= sms_message.sms_send_history_type.description
          %td= sms_message.message.try(:truncate, 90)
