- title 'Изменить пароль'

= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f|
  = fieldset do
    - if params[:sms_recovery]
      = f.input :login, required: true
      = f.input :reset_password_token, as: :string, required: true
      = hidden_field_tag :sms_recovery, value: 1
    - else
      = f.input :login, as: :hidden
      = f.input :reset_password_token, as: :hidden
      - if resource.errors[:reset_password_token].any?
        = t('activerecord.errors.messages.invalid_reset_password_token')
    = f.input :password
    = f.input :password_confirmation
  = f.button :submit, 'Изменить пароль', id: :subscriber_user_submit

= render 'devise/shared/devise_links'