- title 'Забыли пароль?'

= simple_form_for resource, as: resource_name, url: password_path(resource_name) do |f|
  = fieldset do
    = f.input :login
  = f.button :submit, 'Отправить инструкцию по восстановлению пароля', id: :subscriber_user_submit

%p
  Если Вы уже получили на телефон ключ для смены пароля, то введите его
  = link_to 'здесь', edit_password_path(resource_name, sms_recovery: 1)
= render 'devise/shared/devise_links'