- javascript 'admin/email_list'

- digest_page = params[:digest].present?

= link_to_back admin_email_lists_path

= form_wrapper t("actions.email_list.#{action}") do
  = simple_form_for [:admin, @email_list] do |f|
    = f.error_notification
    = tabs_block do
      = tab_presentation 'description', 'Описание', digest_page ? false : true
      = tab_presentation 'digest', 'Дайджест', digest_page ? true : false
      = tab_presentation 'template', 'Шаблон'
      = tab_presentation 'headers_footers', 'Колонтитулы'
      = tab_presentation 'notifications', 'Уведомления'
      - if policy(EmailListCustomVar).index?
        = tab_presentation 'json_sync', 'JSON синхронизация'
      - if effective_admin?
        = tab_presentation 'permissions', 'Права'
    = tabs_content do
      = tab_pane 'description', digest_page ? false : true do
        = fieldset 'Описание' do
          = f.input :name
          = f.input :internal_name
          = f.label :description
          %br
          = f.input :description, as: :ckeditor, label: false
        = f.input :default_editor_type, collection: @editor_types
        = f.tree :default_stripo_template_group, Stripo::TemplateGroup
        = f.association :default_stripo_template, collection: @stripo_templates
        = fieldset 'Состояние списка' do
          = f.input :visible
          = f.input :never_visible
          = f.input :expiration_days
        = fieldset 'Данные отправителя' do
          = f.input :from_name
          = f.input :from_email
          = f.input :reply_to
          = f.input :from_bounce
          = f.input :postmaster_msgtype
          - if effective_admin?
            = f.input :group_priority
        - if policy(EmailListCustomVar).index?
          = fieldset 'Переменные' do
            = f.input :use_custom_vars
      = tab_pane 'digest', digest_page ? true : false do
        = fieldset do
          = f.input :digest_template
          = f.input :digest_subject_template
          %p
            %strong [NUM]
            \= номер
          %p
            %strong [YEAR]
            \= год
          %p
            %strong [MAILINGS]
            \= здесь будут новости
        = fieldset do
          = f.input :skip_unsubscription_links
      = tab_pane 'template' do
        = fieldset do
          = f.input :template
          = fieldset 'Переменные' do
            - @email_list.email_list_var_names.each do |email_list_var_name|
              = p_strong "[#{email_list_var_name.name}]", email_list_var_name.description
      = tab_pane 'headers_footers' do
        = fieldset t('activerecord.attributes.email_list.content_header') do
          = f.input :content_header, as: :ckeditor, label: false
        = fieldset t('activerecord.attributes.email_list.content_footer') do
          = f.input :content_footer, as: :ckeditor, label: false
      = tab_pane 'notifications' do
        = fieldset do
          = f.input :notify_email
          = f.input :notify_subscribed
          = f.input :notify_unsubscribed
      - if policy(EmailListCustomVar).index?
        = tab_pane 'json_sync' do
          = f.input :import_link
          = f.input :import_login
          = f.input :import_password, as: :string
          = f.input :import_use
      - if effective_admin?
        = tab_pane 'permissions' do
          = fieldset 'Имеют доступ:' do
            = f.association :users, as: :check_boxes, collection: @users, legend_tag: false
          = fieldset 'Могут вычитать этот список:' do
            = f.association :user_exclusion_abilities, collection: @users, as: :check_boxes, legend_tag: false
      = f.button :submit
