- title t('headers.email_lists')

- if policy(EmailList).new?
  = link_to_new :email_list

= paginate @email_lists

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th.btn-col= t('activerecord.attributes.email_list.visible_html')
        %th= t('activerecord.attributes.email_list.name')
        %th= t('activerecord.attributes.email_list.from_name')
        %th= t('activerecord.attributes.email_list.subscribers_count')
        - if @can_destroy
          %th.btn-col &nbsp;

    %tbody
      - @email_lists.each do |email_list|
        %tr
          %td.btn-col= link_to_edit [:admin, email_list]
          %td.btn-col
            = btn_group do
              .container-fluid
                %h2.h5 Рассылки
              = link_to_with_icon 'Показать список рассылок', admin_mailings_path(email_list: email_list.id), :list, class: 'dropdown-item'
              = link_to_with_icon 'Создать рассылку', new_admin_mailing_path(email_list: email_list.id), :plus, class: 'dropdown-item'
              = link_to_with_icon 'Переменные шаблона', admin_email_list_email_list_var_names_path(email_list), :settings, class: 'dropdown-item'
              - if policy(EmailListCustomVar).index?
                %li= link_to_with_icon 'Переменные рассылки', admin_email_list_email_list_custom_vars_path(email_list.id), :settings, class: 'dropdown-item'
              .dropdown-divider
              .container-fluid
                %h2.h5 Подписчики
              = link_to_with_icon 'Показать список подписчиков', admin_subscribers_path(email_list: email_list.id), :list, class: 'dropdown-item'
              = link_to_with_icon 'Рубрики дайджестов', admin_digest_categories_path(email_list: email_list), :settings, class: 'dropdown-item'
              - if policy(SubscriberImport).new?
                = link_to_with_icon 'Импортировать подписчиков', new_admin_subscriber_import_path(email_list: email_list.id), :import, class: 'dropdown-item'
              - if policy(email_list).export?
                = link_to_with_icon 'Экспортировать подписчиков', export_admin_email_list_path(email_list, :xlsx), :export, class: 'dropdown-item'
          %td.btn-col.text-center= visible_invisible(email_list.visible)
          %td= email_list.to_label
          %td= email_list.from_name
          %td= email_list.subscribers_count
          - if @can_destroy
            %td.btn-col= link_to_destroy [:admin, email_list]

= paginate @email_lists
