= link_to_back admin_news_items_path

= form_wrapper t("actions.news_item.#{action}") do
  = permitted_form_for [:admin, @news_item] do |f|
    = f.error_notification
    = fieldset do
      = f.input :title
      = f.input :content, as: :ckeditor, label: false
      = f.input :date
    = f.button :submit
