- title t('headers.news_items')

= link_to_new :news_item

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th &nbsp;
        %th= t('activerecord.attributes.news_item.title')
        %th= t('activerecord.attributes.news_item.content')
        %th= t('activerecord.attributes.news_item.date')
        %th &nbsp;

    %tbody
      - @news_items.each do |news_item|
        %tr
          %td= link_to_edit [:admin, news_item]
          %td= news_item.title
          %td= strip_tags(news_item.content).truncate(80, omission: '...')
          %td= date_ru(news_item.date)
          %td= link_to_destroy [:admin, news_item]
