.container
  .card.my-10
    .card-body
      .space-y-3
        %h5.text-blue-700= "Новая заявка №#{@mailing_request.id}"

        %p.text-gray-700
          %strong Email:
          = @mailing_request.subscriber.email
          %br
          - if @mailing_request.subscriber.name.present?
            %strong Имя:
            = @mailing_request.subscriber.name
            %br
          %strong Время:
          = date_ru @mailing_request.created_at

        %hr.my-1

        %p
          = link_to 'Ответить', admin_mailing_request_mailing_request_messages_url(@mailing_request.id), class: 'btn btn-primary btn-lg'
