.container
  .card.my-10
    .card-body
      .space-y-3
        %h1.h3.mb-2.text-blue-700 ВИОМС
        %p.text-gray-700
          Харе Кришна!
          %br
          Пожалуйста, примите наши смиренные поклоны!
          %br
          Вся слава Шриле Прабхупаде!

        %h5.text-blue-700= "Мы ответили по Вашей заявке №#{@mailing_request_id}"

        %p.text-gray-700
          %strong Автор:
          = @user.name
          %br
          %strong Время:
          = date_ru @mailing_request_message.created_at
          %br
          %strong Статус заявки:
          = I18n.t("mailing_request_statuses.#{@mailing_request_message.new_status}")

        - if @message.present?
          %p.text-gray-700
            %strong Сообщение:
            %br
            = @message

        %hr.my-1

        %p
          = link_to 'Ответить', mailing_request_mailing_request_messages_url(@mailing_request_id), class: 'btn btn-primary btn-lg'
