.container
  .card.my-10
    .card-body
      .space-y-3
        %h5.text-blue-700= "Новое сообщение по заявке №#{@mailing_request.id}"

        %p.text-gray-700
          %strong Email:
          = @subscriber.email
          %br
          - if @subscriber.name.present?
            %strong Имя:
            = @subscriber.name
            %br
          %strong Время:
          = date_ru @mailing_request_message.created_at

        %p.text-gray-700
          %strong Сообщение:
          %br
          = @message

        %hr.my-1

        %p
          = link_to 'Ответить', admin_mailing_request_mailing_request_messages_url(@mailing_request), class: 'btn btn-primary btn-lg'
