- title t('actions.sms_send_history_type.edit')

= link_to_back admin_sms_send_history_types_path

= form_wrapper t('actions.sms_send_history_type.edit') do
  = permitted_form_for [:admin, @sms_send_history_type] do |f|
    = f.error_notification
    = fieldset do
      = f.input :description
      = f.input :attempts
    = f.button :submit