- title t('headers.sms_send_history_types')

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.sms_send_history_type.name')
        %th= t('activerecord.attributes.sms_send_history_type.description')
        %th= t('activerecord.attributes.sms_send_history_type.attempts')

    %tbody
      - @sms_send_history_types.each do |sms_send_history_type|
        %tr
          %td.btn-col= link_to_edit [:admin, sms_send_history_type]
          %td= sms_send_history_type.name
          %td= sms_send_history_type.description
          %td= sms_send_history_type.attempts
