= link_to_back admin_cities_path

= form_wrapper t("actions.city.#{action}") do
  = simple_form_for [:admin, @city] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :priority
      = f.parent order: City::ORDER_BY
    = f.button :submit
