- title t('headers.cities')

= link_to_new :city

- if @city
  %p
    = link_to 'Все', admin_cities_path
    &gt;
    - @city.ancestors.reverse.each do |city|
      = link_to city.name, admin_cities_path(city_id: city.id)
      &gt;
    = @city.name

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th Название
        %th.btn-col &nbsp;

    %tbody
      - @cities.each do |city|
        %tr
          %td.btn-col= link_to_edit [:admin, city]
          %td= link_to city.name, admin_cities_path(city_id: city.id)
          %td.btn-col= link_to_destroy [:admin, city]
