= link_to_back mailing_requests_path

= form_wrapper t("actions.mailing_request.#{action}") do
  = simple_nested_form_for @mailing_request, html: { multipart: true } do |f|
    = error_notifications(f)

    = fieldset do
      - unless @mailing_request.awaiting_donation_status?
        = f.input :subject
        = f.input :body
        = f.association :email_lists, as: :check_boxes, collection: @email_lists
        = f.input :deliver_at
        %p
          У нас есть правила, которые разделяют коммерческие рассылки от частных. Если в рассылках есть ассортимент и
          указан прайс лист, или платные семинары и курсы, то это коммерческая рассылка и у нее есть стоимость 1000
          рублей. Частные рассылки мы рассылаем за свободное пожертвование.
        = f.input :mailing_type, collection: @mailing_types
        = f.simple_fields_for :images do |builder|
          = render 'images', f: builder
        = f.link_to_add 'Добавить фотографию', :images
      = f.association :donation_method
      = f.input :donated_at
      = f.input :comments
    = f.button :submit
