.input-group
  = f.input :image, as: :hidden, input_html: { value: f.object.cached_image_data }
  - if f.object.image
    = render partial: 'image_preview', locals: { caption: f.object.image.metadata['filename'], image_url: f.object.image_url }
  = f.input :image, label: false
  %span.input-group-addon= f.link_to_remove admin_icon(:destroy)
