= p_strong t('activerecord.attributes.mailing_request.subject'), @mailing_request.subject
= p_strong t('activerecord.attributes.mailing_request.body'), @mailing_request.body
= p_strong t('activerecord.attributes.mailing_request.email_lists') do
  %ul
    - @mailing_request.email_lists.each do |email_list|
      %li= email_list.name
= p_strong t('activerecord.attributes.mailing_request.deliver_at'), @mailing_request.deliver_at
= p_strong t('activerecord.attributes.mailing_request.mailing_type'), t("mailing_types.#{@mailing_request.mailing_type}")
= p_strong t('activerecord.attributes.mailing_request.donation_method'), @mailing_request.donation_method&.name
= p_strong t('activerecord.attributes.mailing_request.donated_at'), @mailing_request.donated_at
= p_strong t('activerecord.attributes.mailing_request.comments'), @mailing_request.comments
