- title t('headers.mailing_requests')

%p= subscriber_link_to_new :mailing_request

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.mailing_request.subject')
        %th= t('activerecord.attributes.mailing_request.status')
        %th.btn-col
        %th.btn-col

    %tbody
      - @mailing_requests.each do |mailing_request|
        %tr
          %td= link_to mailing_request.subject, mailing_request_mailing_request_messages_path(mailing_request)
          %td= t("mailing_request_statuses.#{mailing_request.status}")
          %td.btn-col
            - if policy(mailing_request).edit?
              = link_to_edit mailing_request
          %td.btn-col
            - if policy(mailing_request).destroy?
              = link_to_destroy mailing_request
