= link_to_back admin_survey_survey_question_survey_answers_path(@survey, @survey_question)

= form_wrapper t("actions.survey_answer.#{action}") do
  = simple_form_for [:admin, @survey, @survey_question, @survey_answer] do |f|
    = error_notifications(f)

    = fieldset do
      = f.input :answer
      = f.input :position
    = f.button :submit
