- title t('headers.survey_answers')

%p
  = link_to_back admin_survey_survey_questions_path(@survey, @survey_question)
  = link_to_new :survey_answer, [@survey, @survey_question]

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.survey_answer.answer')
        %th= t('activerecord.attributes.survey_answer.position')
        %th.btn-col &nbsp;

    %tbody
      - @survey_answers.each do |survey_answer|
        %tr
          %td.btn-col= link_to_edit [:admin, @survey, @survey_question, survey_answer]
          %td= survey_answer.answer
          %td= survey_answer.position
          %td.btn-col= link_to_destroy [:admin, @survey, @survey_question, survey_answer]
