- title t('headers.survey_subscriber_answers')

%p= link_to_back admin_survey_survey_questions_path(@survey, @survey_question)

= paginate @survey_subscriber_answers

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.subscriber.email')
        %th= t('activerecord.attributes.survey_subscriber_answer.answer')

    %tbody
      - @survey_subscriber_answers.each do |survey_subscriber_answer|
        %tr
          %td= survey_subscriber_answer.subscriber.email
          %td
            - if @survey_question.question_type == 'options'
              = survey_subscriber_answer.survey_answer&.answer
            - else
              = survey_subscriber_answer.value

= paginate @survey_subscriber_answers
