= link_to_back admin_mailing_destinations_path

= form_wrapper t("actions.mailing_destination.#{action}") do
  = simple_form_for [:admin, @mailing_destination] do |f|
    = error_notifications(f)
    = tabs_block do
      = tab_presentation 'description', 'Описание', true
      = tab_presentation 'email_lists', t('headers.email_lists')
      = tab_presentation 'users', t('headers.users')
    = tabs_content do
      = tab_pane 'description', true do
        = f.input :name
      = tab_pane 'users' do
        = f.association :users, as: :check_boxes, collection: User.ordered, legend_tag: false
      = tab_pane 'email_lists' do
        = f.association :email_lists, as: :check_boxes, collection: EmailList.ordered, legend_tag: false
    = f.button :submit
