- title t('headers.mailing_destinations')

= link_to_new :mailing_destination

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.mailing_destination.name')
        %th.btn-col
        %th.btn-col

    %tbody
      - @mailing_destinations.each do |mailing_destination|
        %tr
          %td= mailing_destination.name
          %td.btn-col= link_to_edit [:admin, mailing_destination]
          %td.btn-col= link_to_destroy [:admin, mailing_destination]
