<ul class="wiki_page_actions">
  <%= content_tag('li', link_to( t('wiki.list_pages'), admin_wiki_all_path)) %>
  <%= content_tag('li', link_to( t('wiki.history'), wiki_page_history_path(@page))) if history_allowed? %>
  <%= content_tag('li', link_to( t('wiki.edit'), wiki_page_edit_path(@page))) if edit_allowed? %>
  <%= content_tag('li', link_to( t('wiki.destroy'), wiki_page_path(@page), :'data-method' => :delete, :'data-confirm' => t('wiki.confirm_destroy'))) if destroy_allowed? %>
</ul>
