<%= stylesheet 'wiki.css' -%>

<h1><%= t 'wiki.all_pages' %></h1>

<ul>
  <% wiki_paginate @pages do -%>
    <% @pages.each do |page| -%>
      <li><%= link_to page.title, wiki_page_path( page ) %></li>
    <% end -%>
  <% end -%>
</ul>