<%= stylesheet 'wiki.css' -%>

<h1><%= t 'wiki.comparing', :page_title => h( @page.title ), :old_version => @old_version.number, :new_version => @new_version.number %></h1>

<%= link_to t('wiki.back_to_history'), admin_history_wiki_page_path(@page.path) %><br />

<%= t 'wiki.changes_list' %>:

<%= wiki_paginate @versions do%>
  <%= wiki_page_history @page, @versions %>
<% end %>

<%= t 'wiki.changes_in_content' %>:

<div class="wiki_diff">
  <%= wiki_diff @old_version.content, @new_version.content %>
</div>
