<%= stylesheet 'wiki.css' -%>

<h1><%= t 'wiki.edit' %></h1>

<% if params[:preview] %>
<div class="wiki_content">
  <%= wiki_content @page.content %>
</div>
<% end %>

<%= wiki_page_form do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  <%= hidden_field_tag :path, @page.path %>

  <p><%= t 'wiki.title' %>:<br /><%= f.text_field :title %></p>

  <p><%= t 'wiki.content' %> (Поддерживается <%= link_to('Textile Markup', 'http://redcloth.org/hobix.com/textile/', target: '_blank') %>):<br /><%= f.text_area(:content) %></p>
  <p><%= t 'wiki.comment' %><br /><%= f.text_field :comment %></p>
  <input type="submit" name="save" value="<%= t 'wiki.save' %>" class="submit" />
  <input type="submit" name="preview" value="<%= t 'wiki.preview' %>" class="submit" />
  <input type="submit" name="cancel" value="<%= t 'wiki.cancel' %>" class="submit" />
<% end %>

<%= wiki_page_attachments(@page) %>
