<%= stylesheet 'wiki.css' -%>

<h1><%= t 'wiki.page_history', :page_title => @page.title %></h1>
  
<%= wiki_page_info %>
<%= wiki_page_actions %>

<%= wiki_page_history %>

<%= link_to t('site.back'), wiki_page_path(@page) %>