<%= stylesheet 'wiki.css' -%>

<h1><%= t 'wiki.create' %></h1>

<%= wiki_page_form do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  
  <p><%= t 'wiki.title' %><br /><%= f.text_field :title %></p>
  <p><%= t 'wiki.content' %><br /><%= f.text_area :content %></p>
  <p><%= f.text_field :comment, :value => t('wiki.first_revision') %></p>
  <%= hidden_field_tag :path, @page.path %>

  <input type="submit" value="<%= t 'wiki.create' %>" class="submit" />
<% end %>
