= link_to_back admin_unsubscription_reasons_path

= form_wrapper t("actions.unsubscription_reason.#{action}") do
  = permitted_form_for [:admin, @unsubscription_reason] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
    = f.button :submit
