- title t('headers.unsubscription_reasons')
- javascript 'unsubscription_reasons'

= link_to_new :unsubscription_reason

.clearfix
.table-responsive
  %table#unsubscription_reasons{ class: table_class, 'data-update-url' => sort_admin_unsubscription_reasons_path }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.unsubscription_reason.name')
        %th.btn-col &nbsp;

    %tbody
      - @unsubscription_reasons.each do |unsubscription_reason|
        = content_tag_for :tr, unsubscription_reason do
          %td.btn-col= link_to_edit [:admin, unsubscription_reason]
          %td.btn-col.handle= admin_icon(:move)
          %td= unsubscription_reason.name
          %td.btn-col= link_to_destroy [:admin, unsubscription_reason]
