= simple_form_for [:admin, @mailing_request, @mailing_request_message] do |f|
  = error_notifications(f)

  = fieldset do
    = f.input :new_status, collection: @mailing_request_statuses, include_blank: false
    = f.input :message
  = f.button :submit
