- title t('headers.mailing_request_messages')

= link_to_back admin_mailing_requests_path

= render 'mailing_requests/summary'

%hr
= render 'admin/mailing_request_messages/form', action: 'create'

%p.mt-4= t('headers.mailing_request_messages')

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.mailing_request_message.message')
        %th.btn-col.text-nowrap= t('activerecord.attributes.mailing_request_message.old_status')
        %th.btn-col.text-nowrap= t('activerecord.attributes.mailing_request_message.new_status')

    %tbody
      - @mailing_request_messages.each do |mailing_request_message|
        %tr{ class: mailing_request_message.subscriber_author? ? 'table-primary' : 'table-success' }
          %td= mailing_request_message.message
          %td.btn-col.text-nowrap= t("mailing_request_statuses.#{mailing_request_message.old_status}")
          %td.btn-col.text-nowrap= t("mailing_request_statuses.#{mailing_request_message.new_status}")
