- case @mailing.editor_type
- when 'none'
  = f.input :html_content, as: :text
- when 'ckeditor'
  = f.input :html_content, as: :ckeditor
- when 'template'
  = render 'template', f: f
- when 'stripo'
  = render 'stripo', f: f

= f.input :enable_content_headers

- unless @mailing.template_editor_type?
  %p
    %strong [NAME]
    \- Будет заменено на имя, введенное подписчиком
  %p
    %strong [SUBSCRIBER_ID]
    \- Будет заменено на id подписчика
%p
  %strong [FOOTER]
  \- Будет заменено на блок отписки
