- can_attach = (current_user.is_email_attachment? || effective_admin?)

= link_to_back admin_mailings_path

= form_wrapper t("actions.mailing.#{action}") do
  = simple_nested_form_for [:admin, @mailing], html: { multipart: true } do |f|
    = f.error_notification
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'digest', 'Дайджест'
      - if @email_list_inclusions.any?
        = tab_presentation 'included_lists', 'Дополнительные списки'
      - if @email_list_exclusions.any?
        = tab_presentation 'excluded_lists', 'Исключить списки'
      - if can_attach
        = tab_presentation 'attachments', 'Вложения'
    = tabs_content do
      = tab_pane 'main', true do
        = fieldset 'Данные отправителя' do
          %label= t('activerecord.attributes.email_list.name') + ':'
          = @mailing.email_list.name
          .clearfix
          %label= t('activerecord.attributes.email_list.from_name') + ':'
          = "#{@mailing.email_list.from_name} <#{@mailing.email_list.from_email}>"
        = fieldset do
          = f.input :deliver_at
        = fieldset 'Письмо' do
          = f.input :subject
          = render 'editor', f: f
        = fieldset 'Состояние' do
          = f.input :visible
      = tab_pane 'digest' do
        = fieldset do
          = f.input :digest
          = f.input :digest_content
          = f.input :digest_image
          - if @mailing.digest_image.present?
            = link_to image_tag(@mailing.digest_image.url(:thumb)), crop_admin_mailing_path(@mailing)
          = f.association :digest_category, collection: @digest_categories
          = f.association :email_digest, collection: @email_digests
      - if @email_list_inclusions.any?
        = tab_pane 'included_lists' do
          = f.association :included_email_lists, collection: @email_list_inclusions, as: :check_boxes, legend_tag: false
      - if @email_list_exclusions.any?
        = tab_pane 'excluded_lists' do
          = f.association :excluded_email_lists, collection: @email_list_exclusions, as: :check_boxes, legend_tag: false
      - if can_attach
        = tab_pane 'attachments' do
          = fieldset do
            %p
              Максимальный допустимый размер вложений:
              = current_user.max_attachments_size
              Кб
            = f.simple_fields_for :email_attachments do |email_attachment|
              .input-group
                - if email_attachment.object.new_record?
                  = email_attachment.input :attachment, label: false, input_html: { class: 'form-control' }
                - else
                  = link_to email_attachment.object.attributes['attachment'], email_attachment.object.attachment.url
                %span.input-group-addon= email_attachment.link_to_remove admin_icon(:destroy)
            %p= f.link_to_add 'Добавить вложение', :email_attachments
    = f.button :submit, id: :mailing_submit_button
