= paginate @mailings

#spinner= image_tag 'spinner.gif', alt: 'Loading...'

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.email_list.subject')
        %th= t('activerecord.attributes.email_list.digest_num')
        %th= t('activerecord.attributes.email_list.deliver_at')
        %th.btn-col &nbsp;

    %tbody
      - @mailings.each do |mailing|
        %tr
          %td.btn-col= sending_edit_link(mailing)
          %td.btn-col
            = btn_group do
              - if mailing.subject && mailing.deliver_at
                = publish_sending_li(mailing)
              = link_to_with_icon t('site.preview'), full_admin_mailing_path(mailing), :preview, class: 'dropdown-item popup'
              = cancel_sending_li(mailing)
              - if mailing.subject
                = link_to_with_icon t('site.copy_mailing'), copy_admin_mailing_path(mailing), :copy, method: :put, class: 'dropdown-item'
              - if mailing.stripo_editor_type? && policy(mailing).create_template?
                = link_to new_from_mailing_admin_stripo_templates_path(mailing_id: mailing.id), class: 'dropdown-item' do
                  = admin_icon(:create_template)
                  Создать шаблон Stripo
              - if mailing.sent && policy(mailing).statistics?
                = link_to admin_mailing_mailing_statistics_path(mailing), class: 'dropdown-item' do
                  = admin_icon(:poll)
                  Статистика
          %td= sending_status_column(mailing)
          %td
            - if mailing.raised_exception_at.present?
              = admin_icon(:error)
            - if mailing.subject
              = link_to mailing.subject, admin_mailing_path(mailing)
          %td.text-nowrap
            - if mailing.digest && mailing.email_digest
              = link_to_edit [:admin, mailing.email_digest]
              = link_to mailing.email_digest, admin_email_digest_path(mailing.email_digest)
          %td= date_ru mailing.deliver_at
          - if policy(mailing).destroy?
            %td.btn-col= link_to_destroy [:admin, mailing]

= paginate @mailings
