- javascript 'admin/stripo_mailing'

- @container_fluid = true

= f.input :html_content, as: :hidden
= f.input :css, as: :hidden

%iframe#stripoFrame{ src: frame_admin_mailing_path(@mailing) }

- if f.object.errors[:html_content].present?
  .form-control.is-invalid.hidden
  .invalid-feedback= f.object.errors[:html_content].to_sentence
