= fieldset 'Переменные шаблона' do
  = f.simple_fields_for :email_list_vars do |email_list_var|
    - var_name = email_list_var.object.email_list_var_name
    = email_list_var.input :value, label: var_name.description, as: email_list_var_as(var_name), required: !var_name.skip_validation
    = email_list_var.input :email_list_var_name_id, as: :hidden
