- stylesheet 'jquery.Jcrop'
- javascript 'jquery.Jcrop', 'digest_image_crop'

- title 'Обрежьте картинку'

= image_tag @mailing.digest_image.url(:large), id: 'mailing_digest_image_cropbox'

= simple_form_for [:admin, @mailing] do |f|
  - %w[x y w h].each do |attr|
    = f.hidden_field 'digest_image_crop_' + attr
  = f.button :submit, 'Обрезать'
