!!!
%html
  %head
    %title
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    = jquery_include_tag
    = javascript_include_tag 'https://plugins.stripo.email/static/latest/stripo.js'
    = javascript_include_tag 'admin/init_stripo'
    :javascript
      init_stripo(#{ @mailing.stripo_file_key.email_id }, "#{ j raw @mailing.html_content }", "#{ j raw @mailing.css }")
    :css
      #stripoSettingsContainer {
        width: 30%;
        float: left;
      }

      #stripoPreviewContainer {
        width: 70%;
        float: left;
      }
  %body
    #stripoSettingsContainer= image_tag 'spinner.gif', alt: 'Loading...'
    #stripoPreviewContainer
