- title t('headers.mailings')
- javascript 'jquery.ba-url.min.js', 'pagination', 'admin/popup'

= link_to_new :mailing

#mailing_search<
  = form_tag admin_mailings_path, method: :get, id: 'search_form', class: 'form-inline' do
    %label.sr-only{ for: 'email_list' }= t('headers.email_list') + ':'
    = select_tag :email_list, @email_list_options, class: form_control_class
    %label.sr-only{ for: 'subject' }= t('activerecord.attributes.mailing.subject') + ':'
    = text_field_tag :subject, params[:subject], placeholder: t('activerecord.attributes.mailing.subject').downcase, class: form_control_class
    = render 'partials/per_page'
    = button_tag 'Искать', name: nil, class: 'btn btn-secondary my-1'

#mailings
  = render 'mailings'
