- if current_user.email_list_ids.none?
  %h1 Вы не можете создавать email рассылку

  %p У Вас нет прав ни к одному из списков email рассылки. Попросите старшего администратора выделить Вам необходимые права.

  = link_to_back admin_mailings_path
- else
  - javascript 'admin/mailing'

  = link_to_back admin_mailings_path

  = form_wrapper t('actions.mailing.create') do
    = simple_nested_form_for [:admin, @mailing] do |f|
      = f.error_notification
      = f.association :email_list, collection: @email_lists
      - wrapper_options = @mailing.email_list ? nil : { style: 'display: none' }
      = f.input :editor_type, collection: @editor_types, wrapper_html: wrapper_options
      - wrapper_options = @mailing.stripo_editor_type? ? nil : { style: 'display: none' }
      = f.tree :stripo_template_group, nil, collection: [], required: true, wrapper_html: wrapper_options
      = f.association :stripo_template, collection: [], required: true, wrapper_html: wrapper_options
      #template_preview.text-center.my-3{ style: 'display: none' }
        = image_tag '', class: 'img-fluid'
      = f.button :submit
