- title t('headers.mailing')

= link_to_back admin_mailings_path

.table-responsive
  %table{ class: table_class }
    - if @mailing.email_list
      %tr
        %th= t('headers.email_list')
        %td= @mailing.email_list.name
    - if @mailing.included_email_lists.size > 0
      %tr
        %th= t('activerecord.attributes.mailing.included_email_lists')
        %td= @mailing.included_email_lists.map(&:name).join(', ')
    - if @mailing.excluded_email_lists.size > 0
      %tr
        %th= t('activerecord.attributes.mailing.excluded_email_lists')
        %td= @mailing.excluded_email_lists.map(&:name).join(', ')
    %tr
      %th= t('activerecord.attributes.mailing.sent')
      %td= date_ru(@mailing.deliver_at)
    - if @mailing.user
      %tr
        %th= t('activerecord.attributes.mailing.who_sent')
        %td= @mailing.user.name
    %tr
      %th= t('activerecord.attributes.mailing.subject')
      %td= @mailing.subject

= iframe(full_admin_mailing_url(@mailing))
