= link_to_back admin_email_list_email_list_custom_vars_path(@email_list)

= form_wrapper t("actions.email_list_custom_var.#{action}") do
  = permitted_form_for [:admin, @email_list, @email_list_custom_var] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :description
    = f.button :submit
