- title t('headers.email_list_custom_vars')

%h4
  Для списка:
  = @email_list.name

= link_to_back admin_email_lists_path
= link_to_new :email_list_custom_var, @email_list

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        - %i[name description].each do |name|
          %th= EmailListCustomVar.human_attribute_name(name)
        %th.btn-col &nbsp;

    %tbody
      - @email_list_custom_vars.each do |custom_var|
        %tr
          %td.btn-col= link_to_edit [:admin, @email_list, custom_var]
          - %i[name description].each do |attr|
            %td= custom_var[attr]
          %td.btn-col= link_to_destroy [:admin, @email_list, custom_var]
