- title t('actions.setting.edit')

= link_to_back admin_settings_path

= form_wrapper t('actions.setting.edit') do
  = simple_form_for [:admin, @setting] do |f|
    = error_notifications(f)
    = fieldset do
      = p_strong Setting.human_attribute_name(:name), @setting.name
      = p_strong Setting.human_attribute_name(:description), @setting.description
      = f.input :value, as: @setting.value_type
    = f.button :submit
