- title t('headers.settings')

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.setting.name')
        %th= t('activerecord.attributes.setting.description')
        %th= t('activerecord.attributes.setting.value')

    %tbody
      - @settings.each do |setting|
        %tr
          %td.btn-col= link_to_edit [:admin, setting]
          %td= setting.name
          %td= setting.description
          %td= setting.value
