= link_to_back admin_smtp_setting_groups_path

= form_wrapper t("actions.smtp_setting_group.#{action}") do
  = permitted_form_for [:admin, @smtp_setting_group] do |f|
    = f.error_notification
    = fieldset do
      = f.input :name
      = f.input :email
      = f.input :selected
    = f.button :submit
