- title t('headers.smtp_setting_groups')
- javascript 'smtp_setting_groups'

= link_to_new :smtp_setting_group

.clearfix
.table-responsive
  %table#smtp_setting_groups{ class: table_class, 'data-update-url' => sort_admin_smtp_setting_groups_path }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th Название
        %th Email
        %th.btn-col Выбран
        %th.btn-col &nbsp;

    %tbody
      - @smtp_setting_groups.each do |smtp_setting_group|
        = content_tag_for :tr, smtp_setting_group do
          %td.btn-col= link_to_edit [:admin, smtp_setting_group]
          %td.btn-col.handle= admin_icon(:move)
          %td.btn-col= link_to admin_icon(:settings), admin_smtp_setting_group_smtp_settings_path(smtp_setting_group), class: 'btn btn-outline-secondary'
          %td= smtp_setting_group.name
          %td= smtp_setting_group.email
          %td.btn-col.text-center= yes_no smtp_setting_group.selected
          %td.btn-col= link_to_destroy [:admin, smtp_setting_group]
