= form_wrapper(t('headers.import_email_problems')) do
  = form_tag admin_import_email_problems_path do
    = fieldset do
      .form-group
        %label{ for: 'problem_name'} Тип проблемы
        = select_tag :problem_name, options_from_collection_for_select(EmailProblemName.select(%i[id name]), 'id', 'name'), class: 'form-control'
      %p Вводите email адреса столбиком или через запятую. После отправки формы в поле останутся адреса с ошибками.
      .form-group
        %label{ for: 'emails', class: 'sr-only' } Email адреса
        = text_area_tag :emails, @emails, class: 'form-control'
      = button_tag 'Добавить', class: 'btn btn-primary'
