= link_to_back <%= index_helper%>_path(<%= singular_table_name %>)

= form_wrapper t("actions.<%= singular_table_name %>.#{action}") do
  = simple_form_for @<%= singular_table_name %> do |f|
    = error_notifications(f)

    = fieldset do
    <%- attributes.each do |attribute| -%>
      = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
    <%- end -%>

    = f.button :submit
