- title t('headers.unsubscriptions')

= paginate @unsubscriptions

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.unsubscription.subscriber_name')
        %th= t('activerecord.attributes.unsubscription.email_list_name')
        %th= t('activerecord.attributes.unsubscription.reason_name')
        %th= t('activerecord.attributes.unsubscription.comments')
        %th= t('activerecord.attributes.unsubscription.created_at')
        %th.btn-col &nbsp;

    %tbody
      - @unsubscriptions.each do |unsubscription|
        %tr
          %td= link_to unsubscription.subscriber.name_or_email, edit_admin_subscriber_path(unsubscription.subscriber)
          %td= unsubscription.email_list.name
          %td= unsubscription.unsubscription_reason.try(:name)
          %td
            - if unsubscription.comments.present?
              = link_to 'посмотреть', admin_unsubscription_path(unsubscription)
          %td= unsubscription.created_at.to_fs(:rus_datetime)
          %td.btn-col= link_to_destroy [:admin, unsubscription]

= paginate @unsubscriptions
