- title t('headers.unsubscription')

= link_to_back admin_unsubscriptions_path

.table-responsive
  %table{ class: table_class }
    %tr
      %th= t('activerecord.attributes.unsubscription.subscriber_name')
      %td= @unsubscription.subscriber.name
    %tr
      %th= t('activerecord.attributes.unsubscription.email_list_name')
      %td= @unsubscription.email_list.try(:name)
    %tr
      %th= t('activerecord.attributes.unsubscription.reason_name')
      %td= @unsubscription.unsubscription_reason.try(:name)
    %tr
      %th= t('activerecord.attributes.unsubscription.comments')
      %td= @unsubscription.comments
