= simple_form_for [@mailing_request, @mailing_request_message] do |f|
  = error_notifications(f)

  = fieldset do
    - if @mailing_request.awaiting_donation_status?
      = f.association :donation_method, required: true, label: t('activerecord.attributes.mailing_request.donation_method')
      = f.input :donated_at, required: true, label: t('activerecord.attributes.mailing_request.donated_at')
    = f.input :message, required: true
  = f.button :submit
