-# - title t('headers.mailing_request_messages')

= link_to_back mailing_requests_path

= render 'mailing_requests/summary'

%p
  %span.h5 Статус заявки:
  = t('mailing_request_statuses.' + @mailing_request.status)

- if policy(@mailing_request.messages.build).new?
  = render 'form'

%p.mt-4= t('headers.mailing_request_messages')

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th= t('activerecord.attributes.mailing_request_message.message')
        %th.btn-col= t('activerecord.attributes.mailing_request_message.new_status')
        %th.btn-col

    %tbody
      - @mailing_request_messages.each do |mailing_request_message|
        %tr{ class: mailing_request_message.subscriber_author? ? 'table-primary' : 'table-success' }
          %td= mailing_request_message.message
          %td.btn-col.text-nowrap= t("mailing_request_statuses.#{mailing_request_message.new_status}")
          %td.btn-col.text-nowrap= date_ru mailing_request_message.created_at
