- title('Задать вопрос в поддержку')

= TextBlock.get(:contact_new)

= simple_form_for(@contact, url: contact_path) do |f|
  = fieldset do
    = f.input :name
    = f.input :email
    = f.input :phone
    = f.input :subject
    = f.input :question, as: :text
    - unless current_subscriber_user
      = recaptcha_tags
  = f.button :submit
