/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

$blue: rgba(0, 83, 157, 0.90);

@import 'bootstrap';
@import 'font-awesome';
@import 'material_icons';
@import 'icomoon-free/style';

body {
  padding-top: 70px;
}

.table {
  td > .icon {
    line-height: 2.2rem;
  }
  .btn-col {
    width: 1%;
  }

  .yes, .no, span.warning, .fa-ok, .fa-clock, .fa-paper-plane, .money_off, .fa-arrows, .ion-images {
    font-size: 1.2rem;
  }

  .yes {
    color: #5cb85c;
  }

  .no {
    color: #d9534f;
    opacity: 0.65;
  }

  span.warning {
    color: #d9534f;
  }

  .money_off {
    color: #d9534f;
    font-weight: bold;
  }
}

#spinner {
  display: none;
}

.hidden {
  display: none;
}

.sms_red {
  background-color: #fff;
  color: red;
}

#email_confirmation_message, #phone_confirmation_message {
  font-style: italic;
}

.edit_subscriber .red {
  color: red;
  font-weight: bold;
}

span.errors, span.errors a {
  color: red;
}

textarea.form-control {
  height: 15rem;
}

//@media (min-width: 768px) {
//  .form-inline {
//    .form-group, button {
//      margin-top: 6px;
//    }
//  }
//}

//.subscriber_import_subscribers div {
//  width: 100%;
//}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

#stripoFrame {
  border: none;
  width: 100%;
  height: 680px;
}
