/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$blue: rgba(0, 83, 157, 0.90);

@import 'bootstrap';

@import 'font-awesome';
@import 'material_icons';

body {
  padding-top: 54px;
}

#wrapper {
  background-image: url("background.png");
  background-size: 300px;

  header {
    background-color: #14406d;
    img {
      @media (min-width: 576px)  { width: 540px; height: 154px; }
      @media (min-width: 768px)  { width: 720px; height: 206px; }
      @media (min-width: 992px)  { width: 960px; height: 274px; }
      @media (min-width: 1200px) { width: 1140px; height: 326px; }
    }
  }
}

textarea.form-control {
  height: 100px;
}

.navbar-dark ul.nav-tabs li.nav-item a.nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark ul.nav-tabs li.nav-item a.nav-link {
  color: $blue;
}

.hidden {
  display: none;
}

.huawei-appgallery {
  position: relative;
  top: -0.2rem;
  opacity: 0.9;
}

.table {
  .btn-col {
    width: 1%;
  }
}
