.wiki_page_info {
    font-style: italic;
    color: #666;
    margin-left: 5px;
    float: left;
}

.wiki_page_actions {
    text-align: right;
    width: 100%;
    padding: 0;
}

.wiki_page_actions li {
    display: inline;
    margin: 0;
    padding: 0;
}

.wiki_content,
.wiki_diff,
.wiki_history {
    border: 1px dashed #666;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.wiki_history {
    width: 100%;
}

.wiki_history_header td {
    border-bottom: 2px dashed black;
}

.wiki_form {
    display: block;
    width: 100%;
    border: 1px dashed #666;
}

.wiki_form p {
    padding: 10px;
}

.wiki_form p input,
.wiki_form p textarea {
    width: 100%;
}

.wiki_form p textarea {
    height: 300px;
}

.wiki_form .submit {
    margin-left: 20px;
    margin-bottom: 10px;
}

.wiki_diff span.added {
    background: #D4FFAB;
    color: #509A05;
}

.wiki_diff span.removed {
    background: #FFD8D8;
    color: #EF2828;
}
