= link_to_back admin_subscriber_email_problems_path(@subscriber)

= form_wrapper t("actions.email_problem.#{action}") do
  = simple_form_for [:admin, @subscriber, @email_problem] do |f|
    = error_notifications(f)
    = fieldset do
      = f.association :email_problem_name
      = f.input :description
      = f.input :solved
    = f.button :submit
