- title t('headers.email_problems')

= link_to_back edit_admin_subscriber_path(@subscriber)
= link_to_new :email_problem, @subscriber

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.email_problem.email_problem_name')
        %th= t('activerecord.attributes.email_problem.created_at')
        %th= t('activerecord.attributes.email_problem.solved')

    %tbody
      - @email_problems.each do |email_problem|
        %tr
          %td= link_to_edit [:admin, @subscriber, email_problem]
          %td= email_problem.email_problem_name.name
          %td= email_problem.created_at
          %td= yes_no(email_problem.solved)
