- title t('headers.mailing_views')

= link_to_back admin_subscribers_path

.row
  .col-sm-6
    = p_strong(t('activerecord.attributes.mailing.email_uniq_views'), @subscriber.mailing_views.count)
    = p_strong(t('activerecord.attributes.mailing.email_views'), @subscriber.mailing_views.sum(:count))
  .col-sm-6
    = p_strong(t('activerecord.attributes.subscriber.name'), @subscriber.name)
    = p_strong(t('activerecord.attributes.subscriber.email'), @subscriber.email)

%h2.mt-5.mb-3 Рассылки

= paginate @mailing_views

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %th= t('activerecord.attributes.mailing.subject')
      %th= t('activerecord.attributes.mailing_view.count')
      %th= t('activerecord.attributes.mailing_view.created_at')
      %th= t('activerecord.attributes.mailing_view.updated_at')
    %tbody
      - @mailing_views.each do |mailing_view|
        - mailing = mailing_view.mailing
        %tr
          %td= mailing.subject
          %td= mailing_view.count
          %td= mailing_view.created_at.to_fs(:rus_datetime)
          %td= mailing_view.updated_at.to_fs(:rus_datetime)

= paginate @mailing_views
