<p>Здравствуйте!</p>

<p>Вы сделали запрос на изменение пароля.  Изменить свой пароль можно, нажав на ссылку:
 <%= link_to 'Изменить мой пароль', edit_password_url(@resource, login: @resource.email, reset_password_token: @token) %><br />
Ваш пароль не будет изменен, пока Вы не перейдете по этой ссылке и не установите новый пароль.</p>

<p>Если Вы не запрашивали ссылку на смену пароля, то просто проигнорируйте это письмо.</p>

<p>Администрация ВИОМС<br />
<a href="https://www.vioms.ru/">www.vioms.ru</a>
</p>
