= link_to_back admin_users_path

= form_wrapper t("actions.user.#{action}") do
  = permitted_form_for [:admin, @user] do |f|
    = f.error_notification
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'email', 'Email'
      = tab_presentation 'sms', 'SMS'
      = tab_presentation 'telegram', 'Телеграм'
    = tabs_content do
      = tab_pane 'main', true do
        = fieldset do
          = f.input :name
          = f.input :username
          = f.input :email
          = f.input :password, required: @user.new_record?
          = f.input :password_confirmation, required: @user.new_record?
        = fieldset 'Права' do
          = f.input :is_admin, as: :boolean
          = f.input :is_blocked, as: :boolean
          = f.input :is_import, as: :boolean
          = f.input :is_import_delete_old, as: :boolean
          = f.input :is_email_attachment, as: :boolean
          = f.input :is_cities, as: :boolean
          = f.input :is_pages, as: :boolean
          = f.input :is_custom_vars, as: :boolean
          = f.input :max_attachments_size
      = tab_pane 'email' do
        = fieldset 'Имеет доступ к Email спискам:' do
          = f.association :email_lists, as: :check_boxes, legend_tag: false, collection: @email_lists
        = fieldset 'Может вычитать Email списки:' do
          = f.association :email_list_exclusions, as: :check_boxes, legend_tag: false, collection: @email_lists
      = tab_pane 'telegram' do
        = fieldset 'Имеет доступ к Телеграм группам:' do
          = f.association :telegram_groups, as: :check_boxes, legend_tag: false, collection: @telegram_groups
    = f.button :submit
