- title t('headers.users')

= link_to_new :user

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th
          = t('activerecord.attributes.user.name')
          \/
          = t('activerecord.attributes.user.username')
        %th
          =t('activerecord.attributes.user.email')
          \/
          =t('activerecord.attributes.user.phone')
        %th= t('activerecord.attributes.user.current_sign_in_at')
        %th.btn-col &nbsp;

    %tbody
      - @users.each do |user|
        %tr{ class: user_css_class(user) }
          %td.btn-col= link_to_edit [:admin, user]
          %td
            = link_to user.name, admin_user_path(user)
            %br
            = user.username
          %td
            = user.email
            %br
            = user.sms_phone
          %td= date_ru user.current_sign_in_at
          %td.btn-col= link_to_destroy [:admin, user]
