= link_to_back admin_users_path

- title "#{t('headers.user')} #{@user.name}"

.table-responsive
  %table{ class: table_class }
    %tr
      %th= t('activerecord.attributes.user.name')
      %td= @user.name
    %tr
      %th= t('activerecord.attributes.user.username')
      %td= @user.username
    %tr
      %th= t('activerecord.attributes.user.type')
      %td= @user.type
    %tr
      %th= t('activerecord.attributes.user.email')
      %td= @user.email
    %tr
      %th= t('activerecord.attributes.user.sign_in_count')
      %td= @user.sign_in_count
    %tr
      %th= t('activerecord.attributes.user.current_sign_in_at')
      %td= date_ru(@user.current_sign_in_at)
    %tr
      %th= t('activerecord.attributes.user.last_sign_in_at')
      %td= date_ru(@user.last_sign_in_at)
    %tr
      %th= t('activerecord.attributes.user.current_sign_in_ip')
      %td= @user.current_sign_in_ip
    %tr
      %th= t('activerecord.attributes.user.last_sign_in_ip')
      %td= @user.last_sign_in_ip
