= link_to_back admin_stripo_template_group_stripo_templates_path(@stripo_template_group)

= form_wrapper t("actions.stripo_template.#{action}") do
  = simple_form_for [:admin, @stripo_template_group, @stripo_template] do |f|
    = f.error_notification
    = f.input :name
    = f.tree :template_group, nil, collection: @stripo_template_groups
    = f.input :html
    = f.input :css
    = f.input :preview, as: :hidden, input_html: { value: @stripo_template.cached_preview_data }
    = f.label :preview
    - if @stripo_template.preview
      = render partial: 'image_preview', locals: { caption: @stripo_template.preview.metadata['filename'], image_url: @stripo_template.preview_url }
    = f.input :preview, label: false
    = f.input :remove_preview, as: :boolean
    = f.button :submit
