- javascript 'admin/stripo_template'

- @container_fluid = true

- provide(:head) do
  :javascript
    init_stripo(#{ @stripo_template.stripo_file_key.email_id }, "#{ j raw @stripo_template.html }", "#{ j raw @stripo_template.css }")

= link_to_back admin_stripo_template_group_stripo_templates_path(@stripo_template_group)

= form_wrapper t('actions.stripo_template.edit_stripo') do
  %h2.h4.mb-3= @stripo_template.name
  = simple_form_for [:admin, @stripo_template_group, @stripo_template] do |f|
    = f.error_notification
    = f.input :html, as: :hidden
    = f.input :css, as: :hidden
    #stripoSettingsContainer= image_tag 'spinner.gif', alt: 'Loading...'
    #stripoPreviewContainer
    = f.button :submit, id: :stripo_template_submit_button
