- title t('headers.stripo_templates')

- if policy(Stripo::Template.new(template_group: @stripo_template_group)).new?
  = link_to_new :stripo_template, @stripo_template_group

%p
  = link_to 'Все', admin_stripo_template_groups_path
  &gt;
  - [@stripo_template_group, @stripo_template_group.ancestors].flatten.reverse.each do |stripo_template_group|
    = link_to stripo_template_group.name, admin_stripo_template_groups_path(stripo_template_group_id: stripo_template_group.id)
    &gt;
  Шаблоны

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th Название
        %th.btn-col &nbsp;

    %tbody
      - @stripo_templates.each do |stripo_template|
        - can_edit = policy(stripo_template).edit?
        %tr
          %td
            - if can_edit
              = link_to_edit [:admin, @stripo_template_group, stripo_template]
          %td
            - if can_edit
              = link_to(admin_icon(:edit), [:edit_stripo, :admin, @stripo_template_group, stripo_template], class: 'btn btn-info', title: t('actions.stripo_template.edit_stripo'), 'data-toggle': 'tooltip')
          %td= stripo_template.name
          %td
            - if policy(stripo_template).destroy?
              = link_to_destroy [:admin, @stripo_template_group, stripo_template]
