= link_to_back admin_mailings_path

= form_wrapper t('actions.stripo_template.create_from_mailing') do
  = simple_form_for [:admin, @stripo_template], url: new_from_mailing_admin_stripo_templates_path do |f|
    = f.error_notification
    = f.input :name
    = hidden_field_tag 'stripo_template[mailing_id]', params[:mailing_id] || @stripo_template.mailing_id
    = f.tree :template_group, nil, collection: @stripo_template_groups
    = f.button :submit
