= link_to_back admin_survey_survey_questions_path(@survey)

= form_wrapper t("actions.survey_question.#{action}") do
  = simple_form_for [:admin, @survey, @survey_question] do |f|
    = error_notifications(f)

    = fieldset do
      = f.input :question
      = f.input :question_type, collection: @question_types
      = f.input :position
    = f.button :submit
