- title t('headers.survey_questions')

%p
  = link_to_back admin_surveys_path
  = link_to_new :survey_question, @survey

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col
        %th= t('activerecord.attributes.survey_question.question')
        %th= t('activerecord.attributes.survey_question.question_type')
        %th= t('headers.survey_answers')
        %th= t('headers.survey_subscriber_answers')
        %th= t('activerecord.attributes.survey_question.position')
        %th.btn-col

    %tbody
      - @survey_questions.each do |survey_question|
        %tr
          %td.btn-col= link_to_edit [:admin, @survey, survey_question]
          %td= survey_question.question
          %td= t("admin_question_types.#{survey_question.question_type}")
          %td
            - if survey_question.options_question_type?
              = link_to t('headers.survey_answers'), admin_survey_survey_question_survey_answers_path(@survey, survey_question)
          %td= link_to t('headers.survey_subscriber_answers'), admin_survey_survey_question_survey_subscriber_answers_path(@survey, survey_question)
          %td= survey_question.position
          %td.btn-col= link_to_destroy [:admin, @survey, survey_question]
