= link_to_back admin_text_blocks_path

= form_wrapper t("actions.text_block.#{action}") do
  = simple_form_for([:admin, @text_block]) do |f|
    = f.error_notification
    = f.input :content, as: :ckeditor
    = f.button :submit
