- title t('headers.text_blocks')

.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.text_block.name')
        %th= t('activerecord.attributes.text_block.description')

    %tbody
      - @text_blocks.each do |text_block|
        %tr
          %td.btn-col= link_to_edit [:admin, text_block]
          %td= text_block.name
          %td= text_block.description
