%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ href: '#', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false }
    = name
  .dropdown-menu{ class: align == :right ? 'dropdown-menu-right' : nil }= content
