%div{ class: "alert alert-#{type} alert-dismissible fade show", role: 'alert' }
  = yield
  %button{ type: 'button', class: 'close', data: { dismiss: 'alert' }, aria: { label: 'Close' } }
    %span{ aria: { hidden: 'true' } } &times;
