- id ||= nil
%button.btn.btn-link{ id: "imagePreview#{id}", type: 'button', data: { toggle: 'modal', target: "#imageModal#{id}" } }
  = caption
.modal.fade{ id: "imageModal#{id}", tabindex: -1, role: 'dialog', aria: { labelledby: "imagePreviewModalTitle#{id}", hidden: 'true' } }
  .modal-dialog.modal-dialog-centered.mw-100.w-25{ role: 'document' }
    .modal-content
      .modal-header
        %h5.modal-title{ id: "imagePreviewModalTitle#{id}" }
          = caption
        #button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        = image_tag image_url, class: 'img-fluid'
