- title t('headers.subscriber_imports')

= link_to_back admin_subscriber_imports_path

= form_wrapper t('actions.subscriber_import.edit') do
  = simple_form_for [:admin, @subscriber_import] do |f|
    = f.error_notification
    = fieldset do
      = f.input :description
      = p_strong(t('activerecord.attributes.subscriber_import.user'), @subscriber_import.user.name)
      = p_strong(t('activerecord.attributes.subscriber_import.errors_count'), @subscriber_import.errors_count)
    - if @subscriber_import.email_lists.any?
      = fieldset 'Email списки' do
        = @subscriber_import.email_lists.map(&:to_label).join(', ')
    = f.button :submit
