- title t('headers.subscriber_imports')

= link_to_new :subscriber_import

= paginate @subscriber_imports

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.subscriber_import.people')
        %th= t('activerecord.attributes.subscriber_import.errors_count')
        %th= t('activerecord.attributes.subscriber_import.description')
        %th= t('activerecord.attributes.subscriber_import.created_at')
        - if policy(SubscriberImport).destroy?
          %th.btn-col &nbsp;

    %tbody
      - @subscriber_imports.each do |subscriber_import|
        - link_to_people = admin_subscriber_import_subscriber_import_people_path(subscriber_import)
        - errors_count = subscriber_import.errors_count
        - can_edit = policy(subscriber_import).edit?
        %tr
          %td.btn-col
            = link_to_edit [:admin, subscriber_import] if can_edit
          %td= link_to(t('actions.subscriber_import.show'), link_to_people) if can_edit
          %td
            - if errors_count > 0
              %span.errors
                = errors_count
                = raw('(' + link_to(t('actions.subscriber_import.correct'), link_to_people) + ')') if can_edit
            - else
              = errors_count
          %td= subscriber_import.description
          %td= subscriber_import.created_at.to_fs(:rus_datetime)
          - if policy(SubscriberImport).destroy?
            %td.btn-col= link_to_destroy [:admin, subscriber_import] if policy(SubscriberImport).destroy?

= paginate @subscriber_imports
