- title t('actions.subscriber_import.create'), false
- javascript 'subscriber_import'

= link_to_back admin_subscriber_imports_path

= form_wrapper t('actions.subscriber_import.create') do
  = simple_form_for [:admin, @subscriber_import] do |f|
    = error_notifications(f)
    %p Здесь Вы можете подписать несколько email адресов или телефонов на разные Email списки. Все адреса и телефоны, которые уже есть в базе, тоже будут подписаны на все выбранные списки.
    = fieldset do
      = f.input :description
    = fieldset 'Настройка столбиков' do
      %p
        Здесь нужно указать, в каких столбиках находятся Ваши данные.
        Если в Вашем импорте есть номера телефонов, то заполните "Номер столбика с телефоном".
        Имя может быть полным в одном столбике или имя и фамилия в двух разных столбиках.
      = f.input :name_column, as: :integer
      = f.input :first_name_column, as: :integer
      = f.input :last_name_column, as: :integer
      - if effective_admin? || @has_email_lists
        = f.input :email_column, as: :integer
      = f.input :phone_column, as: :integer
    = fieldset t('activerecord.attributes.subscriber_import.people') do
      %p
        Введите имя, email и телефон, разделенные
        %b= link_to('запятыми', 'https://ru.wikipedia.org/wiki/CSV', target: '_blank')
        или
        %b= link_to('табуляциями', 'https://ru.wikipedia.org/wiki/TSV', target: '_blank') + '.'
        Можно скопировать из Excel, тогда столбики будут разделены табуляциями.
        Столбики могут быть в другом порядке, тогда нужно соответственно их настроить.
        Допускается импорт без телефонов, без имен, достаточно одного столбика email или одного телефона.
      %p
        %b Пример:
        %br
        Иванов Иван, ivan@mail.ru, 9001002030
        %br
        Иванов Петр, peter@mail.ru, 9001002031
        %br
        Иванов Владимир, vladimir@mail.ru, 9001002032
      = f.input :subscribers_data, as: :text, label: false
      - if effective_admin? || @has_email_lists
        = f.input :confirm_email, as: :boolean
      - if effective_admin? || current_user.is_import_delete_old?
        = f.input :delete_old, as: :boolean
    - if @has_email_lists
      = fieldset do
        = f.association :email_lists, as: :check_boxes, collection: @email_lists
    = f.button :submit
