- javascript 'telegram_message'

= link_to_back admin_telegram_messages_path

= form_wrapper t("actions.telegram_message.#{action}") do
  = simple_form_for [:admin, @telegram_message] do |f|
    = f.error_notification
    = tabs_block do
      = tab_presentation 'main', 'Основное', true
      = tab_presentation 'included_telegram_groups', 'Дополнительные группы'
    = tabs_content do
      = tab_pane 'main', true do
        = f.input :message
        %p
          %button#addLinkToMailingModal.btn.btn-secondary.btn-sm{ type: :button, data: { toggle: 'modal', target: '#addLinkModal' } }
            Добавить ссылку
          #addLinkModal.modal.fade{ tabindex: -1, role: 'dialog', aria: { labelledby: "addLinkModalTitle", hidden: 'true' } }
            .modal-dialog.modal-dialog-centered.modal-xl{ role: 'document' }
              .modal-content
                .modal-header
                  %h5#addLinkModalTitle.modal-title
                    Добавить ссылку
                  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: 'Close' } }
                    %span{ aria: { hidden: 'true' } } &times;
                .modal-body
                  %p
                    Список:
                    %br
                    %select#email_lists
                  %p
                    Рассылка:
                    %br
                    %select#mailings
                  %p
                    %button#addLinkToMailing.btn.btn-primary{ type: :button, data: { dismiss: 'modal' }, disabled: '' }
                      Добавить

        = f.input :image, as: :hidden, input_html: { value: @telegram_message.cached_image_data }
        = f.label :image
        - if @telegram_message.image
          = render partial: 'image_preview', locals: { caption: @telegram_message.image.metadata['filename'], image_url: @telegram_message.image_url }
        = f.input :image, label: false
        = f.input :remove_image, as: :boolean
        = f.association :telegram_group, collection: @telegram_groups
        = f.input :deliver_at
      = tab_pane 'included_telegram_groups' do
        = f.association :included_telegram_groups, collection: @telegram_groups, as: :check_boxes, legend_tag: false
    = f.button :submit
