#spinner= image_tag 'spinner.gif', alt: 'Loading...'

= paginate @telegram_messages

.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th.btn-col &nbsp;
        %th= TelegramMessage.human_attribute_name('message')
        %th= TelegramMessage.human_attribute_name('deliver_at')
        %th.btn-col &nbsp;

    %tbody
      - @telegram_messages.each do |telegram_message|
        %tr
          %td.btn-col= sending_edit_link(telegram_message)
          %td.btn-col
            = btn_group do
              = publish_sending_li(telegram_message)
              = cancel_sending_li(telegram_message)
              = link_to_with_icon t('site.copy_telegram_message'), copy_admin_telegram_message_path(telegram_message), :copy, method: :put, class: 'dropdown-item'
          %td= sending_status_column(telegram_message)
          %td= link_to telegram_message.message.truncate(90), admin_telegram_message_path(telegram_message)
          %td= date_ru telegram_message.deliver_at
          %td.btn-col= link_to_destroy [:admin, telegram_message]

= paginate @telegram_messages
