- title t('headers.telegram_messages')
- javascript 'jquery.ba-url.min.js', 'pagination'

= link_to_new :telegram_message

#telegram_messages_search<
  = form_tag admin_telegram_messages_path, method: :get, id: 'search_form', class: 'form-inline' do
    %label{ for: 'telegram_group', class: 'sr-only' } Телеграм группа:
    = select_tag :telegram_group, @telegram_group_options, class: form_control_class
    %label{ for: 'message', class: 'sr-only' } Cообщение:
    = text_field_tag :message, params[:message], placeholder: 'сообщение', class: form_control_class
    = render 'partials/per_page'
    = button_tag 'Искать', name: nil, class: 'btn btn-secondary my-1'

#telegram_messages
  = render 'telegram_messages'
