- title t('headers.telegram_message')

= link_to_back admin_telegram_messages_path

.table-responsive
  %table{ class: table_class }
    %tr
      %th= t('headers.telegram_group')
      %td= @telegram_message.telegram_group.name
    - if @telegram_message.included_telegram_groups.any?
      %tr
        %th= t('activerecord.attributes.telegram_message.included_telegram_groups')
        %td
          %ul
            - @telegram_message.included_telegram_groups.each do |group|
              %li= group.name
    %tr
      %th= t('activerecord.attributes.telegram_message.sent')
      %td= date_ru(@telegram_message.deliver_at)
    - if @telegram_message.user
      %tr
        %th= t('activerecord.attributes.telegram_message.who_sent')
        %td= @telegram_message.user.name
    %tr
      %th= t('activerecord.attributes.telegram_message.message')
      %td= @telegram_message.message

    - if @telegram_message.image
      %tr
        %td.text-center{ colspan: 2 }= image_tag @telegram_message.image_url, class: 'img-fluid'
