- title 'Изменить пароль администратора'

= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put } do |f|
  = fieldset do
    = f.input :login, as: :hidden
    = f.input :reset_password_token, as: :hidden
    - if resource.errors[:reset_password_token].any?
      = t('errors.messages.invalid_reset_password_token')
    = f.input :password
    = f.input :password_confirmation
  = f.button :submit, 'Изменить пароль администратора', id: :user_submit

= render 'devise/shared/devise_links'
