- title 'Забыли пароль администратора?'

= simple_form_for resource, as: resource_name, url: password_path(resource_name) do |f|
  = fieldset do
    = f.input :login
  = f.button :submit, 'Отправить инструкцию по восстановлению пароля', id: :user_submit

= render 'devise/shared/devise_links'
