!!!
%html
  %head
    %title= yield(:title) || t('site.title')
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }
    = stylesheet_link_tag 'admin'
    = jquery_include_tag
    = javascript_include_tag "https://plugins.stripo.email/static/#{stripo_version}/stripo.js"
    = javascript_include_tag 'admin'
    = javascript_include_tag Ckeditor.cdn_url
    = csrf_meta_tag
    = yield :head
    - if Rails.env.production?
      = render 'gtag'
  %body
    %nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-md
      .container-xl
        = link_to 'Vioms', admin_welcome_path, class: 'navbar-brand'
        %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNav', 'aria-controls': 'navbarNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            = dropdown_li('Списки') do
              .container-fluid
                %h2.h5 Email
              = link_to_with_icon t('headers.email_lists'), admin_email_lists_path, :list, class: 'dropdown-item'
              - if policy(EmailList).new?
                = link_to_with_icon t('actions.email_list.create'), new_admin_email_list_path, :plus, class: 'dropdown-item'
              .dropdown-divider
              .container-fluid
                %h2.h5 Телеграм
              = link_to_with_icon t('headers.telegram_groups'), admin_telegram_groups_path, :list, class: 'dropdown-item'
              - if policy(TelegramGroup).new?
                = link_to_with_icon t('actions.telegram_group.create'), new_admin_telegram_group_path, :plus, class: 'dropdown-item'
            = dropdown_li('Рассылки') do
              .container-fluid
                %h2.h5 Email
              = link_to_with_icon t('headers.mailings'), admin_mailings_path, :list, class: 'dropdown-item'
              = link_to_with_icon t('actions.mailing.create'), new_admin_mailing_path, :plus, class: 'dropdown-item'
              .dropdown-divider
              .container-fluid
                %h2.h5 Дайджесты
              = link_to_with_icon t('headers.email_digests'), admin_email_digests_path, :list, class: 'dropdown-item'
              = link_to_with_icon t('actions.email_digest.create'), new_admin_email_digest_path, :plus, class: 'dropdown-item'
              .dropdown-divider
              .container-fluid
                %h2.h5 Телеграм
              = link_to_with_icon t('headers.telegram_messages'), admin_telegram_messages_path, :list, class: 'dropdown-item'
              = link_to_with_icon t('actions.telegram_message.create'), new_admin_telegram_message_path, :plus, class: 'dropdown-item'
            = dropdown_li(t('headers.subscribers')) do
              = link_to_with_icon t('headers.subscribers'), admin_subscribers_path, :list, class: 'dropdown-item'
              = link_to_with_icon t('actions.subscriber.create'), new_admin_subscriber_path, :plus, class: 'dropdown-item'
              .dropdown-divider
              = link_to_with_icon t('headers.subscriber_imports'), admin_subscriber_imports_path, :list, class: 'dropdown-item'
              = link_to_with_icon t('actions.subscriber_import.create'), new_admin_subscriber_import_path, :plus, class: 'dropdown-item'
            %li{ class: active_class('wiki_pages') }= link_to t('wiki.header'), admin_wiki_page_path, class: 'nav-link'
            %li.nav-item= link_to t('site.to_site'), root_path, class: 'nav-link'
            %li.nav-item= link_to admin_icon(:logout), destroy_user_session_path, method: :delete, class: 'nav-link'

    %div{ class: @container_fluid ? 'container-fluid' : 'container-xl' }
      = flash_messages
      - if show_title?
        %h1= yield(:title)

      = yield
