!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title= yield(:title) || 'Без названия'
    = stylesheet_link_tag 'application', media: 'all'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = jquery_include_tag
    = javascript_include_tag 'application'
    - if user_signed_in?
      = javascript_include_tag Ckeditor.cdn_url
    = auto_discovery_link_tag :rss, email_lists_url(format: 'rss'), { title: rss_feed_title }
    = auto_discovery_link_tag :atom, email_lists_url(format: 'atom'), { title: rss_feed_title }
    = csrf_meta_tag
    = yield :head
    - if Rails.env.production?
      = render 'gtag'
  %body
    %nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-md
      .container-xl
        = link_to 'ВИОМС', root_path, class: 'navbar-brand'
        %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNav', 'aria-controls': 'navbarNav', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
          %span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          %ul.navbar-nav
            = dropdown_li('Рассылки') do
              = link_to 'Email', email_lists_path, class: 'dropdown-item'
              = link_to 'Facebook', facebook_groups_path, class: 'dropdown-item'
              = link_to 'Телеграм', telegram_groups_path, class: 'dropdown-item'
              = link_to 'Viber', viber_groups_path, class: 'dropdown-item'
              = link_to 'ВКонтакте', vk_groups_path, class: 'dropdown-item'
              = link_to 'WhatsApp', whatsapp_groups_path, class: 'dropdown-item'
            - Page.show_in_navbar.each do |page|
              %li.nav-item.text-nowrap= link_to page.name, page, class: 'nav-link'
            %li.nav-item= link_to 'Задать вопрос', new_contact_path, class: 'nav-link text-nowrap'
            = form_with url: search_mailings_path, method: :get, html: { class: 'form-inline' } do |f|
              .input-group.input-group-sm
                = f.text_field :search, class: 'form-control', placeholder: 'Поиск', value: params[:search]
                .input-group-append
                  = f.button admin_icon(:search), class: 'btn btn-outline-secondary'
            = dropdown_li(admin_icon(:control_panel), align: :right) do
              .container.pt-2{ style: 'width: 400px !important;' }
                %h2.h4 Личный кабинет
                = tabs_block do
                  = tab_presentation 'subscriber', 'подписчика', true
                  = tab_presentation 'admin', 'администратора'
                = tabs_content do
                  = tab_pane 'subscriber', true do
                    - if subscriber_user_signed_in?
                      %ul.list-unstyled
                        %li= current_subscriber_user.email || current_subscriber_user.phone
                        %li
                          = link_to 'Мои заявки на рассылку', mailing_requests_path
                          %span.badge.badge-pill.badge-primary тест
                        %li= link_to 'Мои настройки', edit_my_settings_path
                        %li= link_to 'Мой пароль', edit_registration_path
                        %li= link_to 'Выйти', destroy_subscriber_user_session_path, method: :delete, 'data-confirm': t('site.confirm')
                    - else
                      = form_for create_subscriber_for_login, url: subscriber_user_session_path, html: { id: 'top_login_form' } do |f|
                        .form-group.row
                          = f.label :login, 'Email или телефон', class: 'col-12 col-form-label col-form-label-sm text-nowrap'
                          .col-12
                            = f.text_field :login, class: 'form-control form-control-sm'
                        .form-group.row.mb-2
                          = f.label :password, 'Пароль', class: 'col-12 col-form-label col-form-label-sm text-nowrap'
                          .col-12
                            = f.password_field :password, class: 'form-control form-control-sm'
                        .form-check.mb-2
                          = f.check_box :remember_me, class: 'form-check-input'
                          = f.label :remember_me, 'Запомнить меня', class: 'form-check-label form-control-sm text-nowrap'
                        = f.submit 'Войти', id: :subscriber_user_submit, class: 'btn btn-sm btn-primary'
                      .p-1
                        = link_to 'Забыли пароль?', new_subscriber_user_password_path, class: 'small'
                        \|
                        = link_to 'Регистрация', new_registration_path, class: 'small'
                  = tab_pane 'admin' do
                    - if user_signed_in?
                      %ul.list-unstyled
                        %li= current_user.name || current_user.email
                        %li= link_to 'Перейти в панель управления', admin_welcome_path
                        %li= link_to 'Выйти', destroy_user_session_path, method: :delete, 'data-confirm': t('site.confirm')
                    - else
                      = form_for create_user_for_login, url: user_session_path, html: { id: 'top_login_form2' } do |f|
                        .form-group.row
                          = f.label :login, 'Email или логин', class: 'col-12 col-form-label col-form-label-sm text-nowrap'
                          .col-12
                            = f.text_field :login, class: 'form-control form-control-sm'
                        .form-group.row.mb-2
                          = f.label :password, 'Пароль', class: 'col-12 col-form-label col-form-label-sm text-nowrap'
                          .col-12
                            = f.password_field :password, class: 'form-control form-control-sm'
                        .form-check.mb-2
                          = f.check_box :remember_me, class: 'form-check-input'
                          = f.label :remember_me, 'Запомнить меня', class: 'form-check-label form-control-sm text-nowrap'
                        = f.submit 'Войти', id: :user_submit, class: 'btn btn-sm btn-primary'
                      .py-1
                        = link_to 'Забыли пароль администратора?', new_user_password_path, class: 'small'

    #wrapper
      %header.d-none.d-sm-block.container.p-0
        = link_to(image_tag('head.png'), '/', title: 'На главную')

      %main.container-xl.pt-3.bg-white
        .row
          .col-md-6.col-lg-2{ class: root_page? ? 'order-1' : 'order-2 order-lg-1' }
            %h2.h3 Выпуски рассылок
            %ul.list-unstyled
              - Mailing.archive_visible(current_subscriber_user).limit(3).each do |mailing|
                %li.mb-3
                  .small.font-italic.font-weight-bold= date_ru(mailing.deliver_at.to_date)
                  = link_to(mailing.subject, mailing_path(mailing))

            %p.font-weight-bold= link_to('Посмотреть все', email_lists_path)

            .d-none.d-md-block= show_banners(1)

          .col-lg-8.pb-3.pb-lg-4{ class: root_page? ? 'order-3 order-lg-2' : 'order-1 order-lg-2' }
            - if @active_survey
              = render 'application/flash_dismissible', { type: :warning } do
                %span<
                  Пожалуйста, пройдите наш
                  = link_to 'опрос', edit_survey_subscriber_answer_path(@active_survey)
                  \.
            = flash_messages
            - if !confirmation_controller? && current_subscriber_user&.email && current_subscriber_user.confirmed_at.nil?
              = render 'application/flash_dismissible', { type: :info } do
                %span<
                  Ваш Email не подтвержден. Чтобы получать рассылки, необходимо его
                  = link_to 'подтвердить', email_confirmations_path
                  \.
            - if show_title?
              %h1#page_title.h2.mt-1.mb-4= yield(:title)
            - if @hide_content_box
              = yield
            - else
              #content= yield

            .d-none.d-md-block= show_banners(3)

          .col-md-6.col-lg-2{ class: root_page? ? 'order-2 order-lg-3' : 'order-3 order-lg-3' }
            %h2.h3 Новости
            %ul.list-unstyled
              - NewsItem.latest.each do |news_item|
                %li.mb-3
                  .small.font-italic.font-weight-bold= date_ru(news_item.date)
                  = link_to(news_item.title, news_item_path(news_item))

            %p.font-weight-bold= link_to('Посмотреть все', news_items_path)

            .d-none.d-md-block= show_banners(2)

      %footer.container-xl.p-3.p-md-4.pb-5.border-top.bg-light.text-center
        .row
          .col-md-4.px-0
            %ul.list-unstyled
              - phone = Setting.get_setting('support_phone')
              %li= link_to phone, "tel: #{phone}"
              %li= link_to 'Контакты', '/pages/kontakty'
              %li= link_to 'Политика конфиденциальности', '/pages/politika-konfidentsialnosti'
          .col-md-4.px-0
            %p.mb-2 Мы в социальных сетях
            %h2
              %span.mr-2= link_to admin_icon(:vk), 'https://vk.com/vioms', target: '_blank'
              %span.mr-2= link_to admin_icon(:facebook), 'https://www.facebook.com/groups/718880141951841/', target: '_blank'
              %span= link_to admin_icon(:git), 'https://gitlab.com/vioms/vioms', target: '_blank'
          .col-md-4.px-0
            %p.mb-2 Мобильное приложение
            = link_to image_tag('mobile-app/app-store.svg', height: '35', class: 'mb-1'), 'https://apps.apple.com/us/app/%D0%B2%D0%B8%D0%BE%D0%BC%D1%81/id6502470035'
            = link_to image_tag('mobile-app/google-play.png', height: '35', class: 'mb-1'), 'https://play.google.com/store/apps/details?id=ru.vioms.mobile'
            = link_to image_tag('mobile-app/app-gallery.png', height: '35', class: 'mb-1'), 'https://appgallery.huawei.com/app/C105981569'
    = TextBlock.get(:widgets_code)
