= link_to_back admin_digest_categories_path

= form_wrapper t("actions.digest_category.#{action}") do
  = permitted_form_for [:admin, @digest_category] do |f|
    = f.error_notification
    = fieldset do
      = f.association :email_list, collection: @email_lists
      = f.input :name
      = f.input :image
      = f.input :template
      %p
        %strong [MAILINGS]
        \= здесь будут новости
      = f.input :template_entry
      %p
        %strong [MAILING_IMG]
        \= Ссылка на изображение
      %p
        %strong [MAILING_TEXT]
        \= Текст новости
      %p
        %strong [AUTH_TOKEN]
        \= Токен авторизации
      = f.input :priority
    = f.button :submit
