- title digest_categories_title

= link_to_new :digest_category

.clearfix
.table-responsive
  %table{ class: table_class }
    %thead
      %tr
        %th.btn-col &nbsp;
        %th= t('activerecord.attributes.digest_category.name')
        %th= t('activerecord.attributes.digest_category.email_list')
        %th= t('activerecord.attributes.digest_category.priority')
        %th.btn-col &nbsp;

    %tbody
      - @digest_categories.each do |digest_category|
        %tr
          %td.btn-col= link_to_edit [:admin, digest_category]
          %td= digest_category.name
          %td= digest_category.email_list.name
          %td= digest_category.priority
          %td.btn-col= link_to_destroy [:admin, digest_category]
